@model PrestamosMVC5.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutForms.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmChangePassword" }))
{
    <div class="@HtmlClass.FormGroupCls">
        <h2>Cambiar Contraseña</h2>
        <input id="btnSubmit" type="submit" value="Guardar" class="btn btn-outline-info" />
        @Html.ActionLink("Back to List", "Index")
    </div>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdUsuario);

    @*
        getting value from modelstate
        @Html.Raw(@ViewData.ModelState.Values);
        var data = @ViewData.ModelState.Values.FirstOrDefault();
        var error = data.Errors.FirstOrDefault();
        <h2>@error.ErrorMessage</h2>
    *@
    @Html.ValidationSummary(true, "", new { @class = "text-danger", @id = "mensajeError" })
    <div class="clearfix"></div>
    <div class="row">
        <!-- form input mask -->
        <div class="col-md-6 col-sm-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="@HtmlClass.FormGroupCls">
                        <div class="@HtmlClass.DivInputCls">
                            <p class="h2">Usuario : @Model.LoginName</p>
                        </div>
                    </div>
                    <div class="@HtmlClass.FormGroupCls">
                        @Html.LabelFor(model => model.Contraseña, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                        <div class="@HtmlClass.DivInputCls">
                            @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @class = @HtmlClass.InputTextCls } })
                            @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="@HtmlClass.FormGroupCls">
                        @Html.LabelFor(model => model.ConfirmarContraseña, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                        <div class="@HtmlClass.DivInputCls">
                            @Html.EditorFor(model => model.ConfirmarContraseña, new { htmlAttributes = new { @class = @HtmlClass.InputTextCls } })
                            @Html.ValidationMessageFor(model => model.ConfirmarContraseña, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        let formId = '#frmChangePassword';
        let formulario = $(formId);
        let yearRangeForDP = "+0:+1";
    </script>
    <script src="~/Scripts/Apps/manageErrorMessageOnForms.js"></script>
}