@model IEnumerable<PrestamoBLL.Entidades.Usuario>

@{
    ViewBag.Title = "Index";
}

<div class="row">

    <div id="listContainer" class="col-md-12 col-sm-12 col-xs-12">
       
        @*<a href="@Url.Action("CreateOrEdit", "User")" class="btn btn-primary" role="button" style="float:right;">
            Agregar <i class="fa fa-plus"></i>
        </a>*@

        <h4>Tabla de usuarios</h4>
        <div class="x_panel">
            <div class="x_content">
                <table id="datatable" class="table-bordered row-border" >
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LoginName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Activo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NombreRealCompleto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CorreoElectronico)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefono1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Bloqueado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DebeCambiarContraseñaAlIniciarSesion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContraseñaExpiraCadaXMes)
                            </th>
                            @*<th>
            @Html.DisplayNameFor(model => model.ImgFilePath)
        </th>*@
                            <th>
                                Accion
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr
                                 data-id="@item.IdUsuario">
                                <td></td>
                                <td>
                                    @Html.ActionLink(item.LoginName, "CreateOrEdit", new { id = item.IdUsuario }, new { @class = "badge badge-info" })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Activo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreRealCompleto)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CorreoElectronico)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Bloqueado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DebeCambiarContraseñaAlIniciarSesion)
                                </td>
                                <td>
                                    @item.ContraseñaExpiraCadaXMesToText()
                                </td>
                                @*<td>
                            @Html.DisplayFor(modelItem => item.ImgFilePath)
                        </td>*@
                                <td>
                                    @*@Html.ActionLink("Ver Detalles", "Detail", new { id = item.IdUsuario }) |*@
                                    @Html.ActionLink("Cambiar Contraseña", "ChangePassword", new { id = item.IdUsuario }) @*|*@
                                    @* @Html.ActionLink("Anular", "Delete", new { id = item.IdUsuario })*@
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    
    let onEditButton = function () {
        let id = $('tr.selected').data("id");

        if (id) {
            window.location.href = "/User/CreateOdEdit/";
        }
    }
    let onDeactivateButton = function () {
    }
    let onCancelButton = async function () {
    }
    let onNewButton = function () {
        window.location.href = "/User/CreateOrEdit";
    }

    $(document).ready(function () {
        $('#datatable').DataTable(dataTableConfiguration);
        removeTemplateConfiguration();
    });
</script>