@model IEnumerable<GarantiaConMarcaYModelo>
<link href="~/Content/customcss/datatable/css/customStyle.css" rel="stylesheet">

<div class="row">
    <div id="listContainer" class="col-md-12 col-sm-12 col-xs-12">

        <h4>Tabla de Garantias</h4>
        <div class="x_panel">

            <div class="x_content">
                @* data *@
                <div class="table-responsive">
                    <table id="datatable" class="table-bordered row-border">
                        <thead>
                            <tr>
                                <th class="checkColumn">
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DetallesJSON.Matricula)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DetallesJSON.Placa)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NombreMarca)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NombreModelo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DetallesJSON.Color)
                                </th>



                                @*<th></th>*@
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                            <tr class=" " data-id="@item.IdGarantia">
                                <td></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DetallesJSON.Matricula)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DetallesJSON.Placa)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreMarca)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreModelo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DetallesJSON.Color)
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @* table *@

            </div>
        </div>
    </div>
</div>
<script>
    let onEditButton = function () {
        let id = $('tr.selected').data("id");

        if (id) {
            window.location.href ='/Garantias/CreateOrEdit/' + id;
        }
    }
    //let onDeactivateButton = function () {
    //    let id = $('tr.selected').data("id");

    //    if (id) {
    //        window.location.href ='/Clientes/Anular/' + id;
    //    }
    //}
    //let onCancelButton = function () {
    //    console.log('Delete');
    //}
    let onNewButton = function () {
        window.location.href ='/Garantias/CreateOrEdit';
    }

    $(document).ready(function () {
        // Datatable
        var table = $('#datatable').DataTable(dataTableConfiguration);
        removeTemplateConfiguration();
    });
</script>