
@model TipoMoraVM
<link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<div class="row">

    <div id="listContainer" class="col-md-12 col-sm-12 col-xs-12">

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tipo-mora-modal" id="btnFormTasaInteres" onclick="showTasaInteresForm()" style="float:right;">Agregar</button>
        <h4>Listado de moras</h4>        
        
        <div class="x_panel">
            <div class="x_title">
                <h2>Tabla de moras</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table bulk_action ">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Tipo del Cargo</th>
                            <th>Periodo</th>
                            <th>Cargo</th>
                            <th>Dias de gracia</th>
                            <th>Rango</th>

                            <th>Descripcion</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.ListaTipoMoras)
                        {
                            <tr>
                                <td>
                                    <strong>
                                        @item.Codigo
                                    </strong>
                                </td>
                                <td>
                                    @if (item.TipoCargo == 1)
                                    {
                                        <span>Fijo</span>
                                    }
                                    else
                                    {
                                        <span>Porcentual</span>
                                    }
                                </td>
                                <td>
                                    <span>Preguntar</span>
                                </td>
                                <td>
                                    @*<span>@item.MontoOPorCientoACargar</span>*@
                                    <span>No se si mostrarla</span>
                                </td>
                                <td>
                                    <span>@item.DiasDeGracia</span>
                                </td>

                                <td>
                                    <span>Desde @item.MontoCuotaDesde hasta @item.MontoCuotaHasta</span>
                                </td>

                                <td>
                                    <span>@item.Descripcion</span>
                                </td>

                                <td>
                                    @if (item.Activo)
                                    {
                                        <span class="badge badge-primary">Activo</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">Inactivo</span>
                                    }
                                </td>
                                <td>
                                    <a href="#">
                                        <button type="button" class="btn btn-outline-danger">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </a>

                                    <a href="@Url.Action("Delete", "TipoMoras", new { Id = item.IdTipoMora, Usuario = "Bryan" })">
                                        <button type="button" class="btn btn-outline-danger">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </a>

                                    <a href="#">
                                        <button type="button" class="btn btn-outline-warning">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@* Fin del formulario *@

<!-- Modal -->
<div class="modal fade" id="tipo-mora-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar un tipo de mora a la lista</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="x_panel">
                    
                    <div class="x_content">
                        <br />
                        @using (Html.BeginForm("Index", "TipoMoras", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                        {
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    Codigo <span class="required">*</span>
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(Model => Model.TipoMora.Codigo, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Tipo de cargo</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(Model => Model.TipoMora.TipoCargo, SelectItems.TiposCargoMora, new { @class = "form-control item" })
                                </div>
                            </div>



                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    Rango <span class="required">*</span>
                                </label>
                                <div class="col-sm-8">
                                    <div>
                                        @Html.TextBoxFor(Model => Model.TipoMora.MontoCuotaDesde, new { @class = "form-control col-sm-5", @required = "required", @type = "number" })
                                    </div>
                                    <span class="col-sm-2" style="text-align:center;">-</span>
                                    <div>
                                        @Html.TextBoxFor(Model => Model.TipoMora.MontoCuotaHasta, new { @class = "form-control col-sm-5", @required = "required", @type = "number" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Periodo</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(Model => Model.TipoMora.CalcularCargoPor, SelectItems.CalcularMoraPor, new { @class = "form-control item" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Aplicar al</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(Model => Model.TipoMora.AplicarA, SelectItems.AplicarMorasAl, new { @class = "form-control item" })

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="codigo">
                                    Cargo <span class="required">*</span>
                                </label>
                                <div class="col-sm-8">
                                    <div>
                                        @Html.TextBoxFor(Model => Model.TipoMora.MontoOPorcientoACargar, new { @class = "form-control", @required = "required", @type = "number" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="codigo">
                                    Descripcion* <span class="required">*</span>
                                </label>
                                <div class="col-sm-8">
                                    <div>
                                        @Html.TextBoxFor(Model => Model.TipoMora.Descripcion, new { @class = "form-control", @required = "required" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="codigo">
                                    Dias de gracia <span class="required">*</span>
                                </label>
                                <div class="col-sm-8">
                                    <div>
                                        @Html.TextBoxFor(Model => Model.TipoMora.DiasDeGracia, new { @class = "form-control", @required = "required", @type = "number" })
                                    </div>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="item form-group" style="float: right;">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                            @*</form>*@
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal -->



<script type="text/javascript">

</script>

<script src="../vendors/iCheck/icheck.min.js" type="7970e1e113382da18ac5720e-text/javascript"></script>