@page "/tiposmora"
@inherits BaseForCreateOrEdit
@using PrestamoBlazorApp.Shared.Components.TiposMora


<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h4" xs="1"> Listado De Tipos De Mora</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" DisableElevation="true" OnClick="@(()=>CreateOrEdit())">Agregar</MudButton>
            @*<MudMenu Label="Reportes">
                    <MudMenuItem OnClick="()=>PrintListado(1)"> Pdf </MudMenuItem>
                    <MudMenuItem OnClick="()=>PrintListado(2)"> Excel</MudMenuItem>
                </MudMenu>*@
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <MudTable Items="@tiposmora" Dense="@Dense" Hover="@Hover" Bordered="@Bordered" Striped="@Striped" Filter="new Func<TipoMora,bool>(FilterFunc1)" @bind-SelectedItem="SelectedItem1">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Elementos</MudText>
                <MudTextField Immediate="true" @bind-Value="SearchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Codigo</MudTh>
                <MudTh>Tipo Cargo</MudTh>
                <MudTh>Periodo</MudTh>
                <MudTh>Cargo</MudTh>
                <MudTh>Dias De Gracia</MudTh>
                <MudTh>Rango</MudTh>
                <MudTh>Descripcion</MudTh>
                <MudTh>Estado</MudTh>

                <MudTh>Acciones</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Codigo">@context.Codigo</MudTd>
                <MudTd DataLabel="Nombre">
                    @if (context.TipoCargo == 1)
                    {
                        <span>Fijo</span>
                    }
                    else
                    {
                        <span>Porcentual</span>
                    }
                </MudTd>
                <MudTd>
                    <span>Preguntar</span>
                </MudTd>
                <MudTd>No se si mostrarla</MudTd>
                <MudTd>@context.DiasDeGracia</MudTd>

                <MudTd> <span>Desde @context.MontoCuotaDesde hasta @context.MontoCuotaHasta</span></MudTd>
                <MudTd>@context.Nombre</MudTd>
                <MudTd>
                    <MudIconButton OnClick="@(()=>CreateOrEdit(context.IdTipoMora))" Icon="@Icons.Outlined.Edit"></MudIconButton>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </MudCardContent>
</MudCard>


