@model PrestamosMVC5.Models.ListaNegocioVM

<div class="row">
    <div class="form-horizontal col-md-6 offset-md-3 mt-5">

        @using (@Html.BeginForm("IniciarOperacion", "Account", FormMethod.Post, htmlAttributes: new { id = "loginForm", autocomplete = "off" }))
        {

            @Html.AntiForgeryToken()
            <div class="@HtmlClass.FormGroupCls">
                <div class="@HtmlClass.DivInputCls">
                    <img src="@Url.Content(SiteImages.AppLogoSinLetra)" alt="Logo de la aplicacion" height="100em" width="100em" class="center">
                </div>
            </div>
            <div class="@HtmlClass.FormGroupCls">
                <div class="@HtmlClass.DivInputCls">
                    <div class="text-center">Estas Operando para el Grupo de empresas de </div>
                    <div class="text-center"><h2>@Model.NombreEmpresaMatriz</h2></div>
                </div>
            </div>
            <div class="@HtmlClass.FormGroupCls">
                <div class="@HtmlClass.DivInputCls">
                    @Html.DropDownListFor(m => m.idNegocioSelected, Model.SelectNegocios, htmlAttributes: new { @class = @HtmlClass.InputTextCls, onmousedown="if(this.options.length>5){this.size=5;}" , onchange="this.size=0;", onblur="this.size=0;" })
                    @Html.ValidationMessageFor(model => model.idNegocioSelected, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <br />
            <div class="@HtmlClass.FormGroupCls">
                <div class="@HtmlClass.DivInputCls">
                    <input type="submit" value="Operar en el negocio elegido" class="btn btn-lg btn-primary btn-block text-uppercase submit" />
                </div>
            </div>
        }
    </div>
</div>

