@model PrestamosMVC5.Models.RegistrationView

@{
    ViewBag.Title = "Registro de Usuario";
}

<h2>Registration</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="clearfix"></div>
    <div class="row">
        <!-- form input mask -->
        <div class="col-md-6 col-sm-12  ">
            <div class="x_panel">
                <div class="x_content">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Usuario.IdUsuario, new { htmlAttributes = new { @class = @HtmlClass.InputTextCls } })
                    <div class="@HtmlClass.FormGroupCls">
                        @Html.LabelFor(model => model.Usuario.NombreRealCompleto, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                        <div class="@HtmlClass.DivInputCls">
                            @Html.EditorFor(model => model.Usuario.NombreRealCompleto, new { htmlAttributes = new { @class = @HtmlClass.InputTextCls } })
                            @Html.ValidationMessageFor(model => model.Usuario.NombreRealCompleto, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="@HtmlClass.FormGroupCls">
                        @Html.LabelFor(model => model.Usuario.LoginName, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                        <div class="@HtmlClass.DivInputCls">
                            @Html.EditorFor(model => model.Usuario.LoginName, new { htmlAttributes = new { @class = @HtmlClass.InputTextCls } })
                            @Html.ValidationMessageFor(model => model.Usuario.LoginName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="@HtmlClass.FormGroupCls">
                        @Html.LabelFor(model => model.Contraseña, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                        <div class="@HtmlClass.DivInputCls">
                            @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @class = @HtmlClass.InputTextCls } })
                            @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="@HtmlClass.FormGroupCls">
                        @Html.LabelFor(model => model.ConfirmarContraseña, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                        <div class="@HtmlClass.DivInputCls">
                            @Html.EditorFor(model => model.ConfirmarContraseña, new { htmlAttributes = new { @class = @HtmlClass.InputTextCls } })
                            @Html.ValidationMessageFor(model => model.ConfirmarContraseña, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="@HtmlClass.FormGroupCls">
                        @Html.LabelFor(model => model.Usuario.DebeCambiarContraseña, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                        <div class="@HtmlClass.DivInputCls">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Usuario.DebeCambiarContraseña)
                                @Html.ValidationMessageFor(model => model.Usuario.DebeCambiarContraseña, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="@HtmlClass.FormGroupCls">
                        @Html.LabelFor(model => model.Usuario.FechaExpiracionContraseña, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                        <div class="@HtmlClass.DivInputCls">
                            @Html.EditorFor(model => model.Usuario.FechaExpiracionContraseña, new { htmlAttributes = new { @class = @HtmlClass.InputTextCls } })
                            @Html.ValidationMessageFor(model => model.Usuario.FechaExpiracionContraseña, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="@HtmlClass.FormGroupCls">
                        @Html.LabelFor(model => model.Usuario.CorreoElectronico, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                        <div class="@HtmlClass.DivInputCls">
                            @Html.EditorFor(model => model.Usuario.CorreoElectronico, new { htmlAttributes = new { @class = @HtmlClass.InputTextCls } })
                            @Html.ValidationMessageFor(model => model.Usuario.CorreoElectronico, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="@HtmlClass.FormGroupCls">
                        @Html.LabelFor(model => model.Usuario.Telefono1, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                        <div class="@HtmlClass.DivInputCls">
                            @Html.EditorFor(model => model.Usuario.Telefono1, new { htmlAttributes = new { @class = @HtmlClass.InputTextCls } })
                            @Html.ValidationMessageFor(model => model.Usuario.Telefono1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="@HtmlClass.FormGroupCls">
                        @Html.LabelFor(model => model.Usuario.Telefono2, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                        <div class="@HtmlClass.DivInputCls">
                            @Html.EditorFor(model => model.Usuario.Telefono2, new { htmlAttributes = new { @class = @HtmlClass.InputTextCls } })
                            @Html.ValidationMessageFor(model => model.Usuario.Telefono2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="@HtmlClass.FormGroupCls">
                        @Html.LabelFor(model => model.Usuario.Bloqueado, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                        <div class="@HtmlClass.DivInputCls">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Usuario.Bloqueado)
                                @Html.ValidationMessageFor(model => model.Usuario.Bloqueado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>



                    <div class="@HtmlClass.FormGroupCls">
                        @Html.LabelFor(model => model.ActivationCode, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                        <div class="@HtmlClass.DivInputCls">
                            @Html.EditorFor(model => model.ActivationCode, new { htmlAttributes = new { @class = @HtmlClass.InputTextCls } })
                            @Html.ValidationMessageFor(model => model.ActivationCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    

                    <div class="@HtmlClass.FormGroupCls">
                        <div class="col-md-offset-2 @HtmlClass.DivInputCls">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

