@page "/clientes"
@inherits BaseForList

<div class="grid-container">
    <div class="bg-secondary">
        <h3 class="text-left">Listado de clientes </h3>
    </div>
    <div class="search">
        <EditForm Model="@searchClientes" OnValidSubmit="@GetClientes">
            <InputText id="Codigo" @bind-Value="searchClientes.Codigo" placeholder="Código" />
            <InputText id="nombres" @bind-Value="searchClientes.Nombres" placeholder="Nombres" />
            <InputText id="Apellidos" @bind-Value="searchClientes.Apellidos" placeholder="Primer Apellido" />

            <button type="submit" class="fa fa-search">Buscar</button>
            @if (totalClientes > 0)
            {
                <label class="text-right col-sm-2">registros encontrados @totalClientes</label>
            }
        </EditForm>

    </div>
</div>

<div class="grid">
    @if (loading)
    {
        <div class="loader">Cargando...</div>
    }
    else
    {
        if (clientes == null)
        {
            <p><em>datos no encontrados</em></p>
        }
        else
        {
            if (totalClientes > 0)
            {
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombres</th>
                            <th>Telefono</th>
                            <th>Tipo Identificacion</th>
                            <th>Identificacion</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cliente in clientes)
                        {
                            <tr @key="@cliente.IdCliente">
                                <td>@cliente.Codigo</td>
                                <td>@cliente.NombreCompleto</td>
                                <td>@cliente.TelefonoMovil</td>
                                @{
                                    var tident = (TiposIdentificacionPersona)cliente.IdTipoIdentificacion;
                                    <td> @tident</td>
                                }
                                <td>@cliente.NoIdentificacion</td>

                                <td>

                                    <button onclick="alert('opcion no implementada aun')" title="ver detalles" class="btn btn-outline-primary">
                                        <i class="fa fa-info-circle"></i>
                                    </button>
                                    
                                    <button @onclick='()=>OnEditClick("clientes/createoredit/" + cliente.IdCliente)' class="btn btn-outline-primary">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button onclick="alert('opcion no implementada aun')" title="Anular o Eliminar" class="btn btn-outline-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>

                                    @*<a href="@($"clientes/detallesCliente/{cliente.IdCliente}")" title="ver detalles" class="btn btn-outline-warning">*@
                                    <button onclick="Default()
        alert('opcion no implementada aun'); ;
    }" title="ver detalles" class="btn btn-outline-primary">
                                        <i class="fa fa-info-circle"></i>
                                    </button>
                                    <a href="@($"clientes/createoredit/{cliente.IdCliente}")" title="editar" class="btn btn-outline-primary">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="" onclick="alert('opcion no implementada aun')" title="Anular o Eliminar" class="btn btn-outline-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p><em>No datos encontrados</em></p>
            }
        }
    }

</div>



