@page "/clientes/CreateOrEdit"
@page "/clientes/CreateOrEdit/{idCliente}"


<div class="grid-container">
    <div class="search">
        <EditForm Model="@cliente" OnValidSubmit="@SaveCliente">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="bg-secondary">
                <h3 class="text-left">Crear o Editar clientes</h3>
                <div class="text-right">
                    <button type="submit">Guardar</button>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="codigo" class="col-sm-2 col-form-label text-right">Codigo</label>
                            @if (disableCodigo)
                            {
                                <label class="col-sm-3 mt-2">@cliente.Codigo </label>
                            }
                            else
                            {
                                <InputText @bind-Value="cliente.Codigo" class="col-sm-3" />
                            }
                            <label class="col-sm-2 col-form-label text-right">Activo</label>
                            <label class="col-sm-1 col-form-label text-left">@TextoForActivo</label>
                        </div>
                        <div class="form-group row">
                            <label for="tiposIdentificacionPersonas" class="col-sm-3 col-form-label text-right">Tipo Id</label>
                            <InputSelect id="tiposIdentificacion" @bind-Value="cliente.IdTipoIdentificacion" class="form-control col-sm-4">
                                @foreach (var item in TiposIdentificacion)
                                {
                                    <option value=@item.Value>@item.Text</option>
                                }
                            </InputSelect>
                            <label for="noIdentificacion" class="col-sm-2 col-form-label text-right">Numeracion </label>
                            <RadzenMask Mask="***-*******-*" Pattern="[^0-9]" placeholder="000-0000000-0" @bind-Value="cliente.NoIdentificacion " class="col-sm-3" />
                        </div>
                        <div class="form-group row">
                            <label for="nombres" class="col-sm-2 col-form-label text-right">Nombres</label>
                            <InputText @bind-Value="cliente.Nombres" class="col-sm-10" />
                            
                        </div>
                        <div class="form-group row">
                            <label for="apellidos" class="col-sm-2 col-form-label text-right">Apellidos</label>
                            <InputText @bind-Value="cliente.Apellidos" class="col-sm-10" />
                        </div>
                        <div class="form-group row">
                            <label for="apodo" class="col-sm-2 col-form-label text-right">Apodo</label>
                            <InputText @bind-Value="cliente.Apodo" class="col-sm-10" />
                        </div>

                        <div class="form-group row">
                            <label for="tiposEstadosCiviles" class="col-sm-2 col-form-label text-right">Estado Civil</label>
                            <InputSelect id="tiposEstadosCiviles" @bind-Value="cliente.IdEstadoCivil" class="form-control col-sm-4">
                                @foreach (var item in EstadosCiviles)
                                {
                                    <option value=@item.Value>@item.Text</option>
                                }
                            </InputSelect>

                        </div>

                        <div class="form-group row">
                            <InputCheckbox id="tieneConyuge" @bind-Value=cliente.TieneConyuge TValue="bool" class="offset-2 mt-1" />
                            <label for="tieneConyuge" class="ml-2" style="margin-left: 5px">Tiene Conyuge o Pareja</label>
                        </div>
                        <div class="form-group row">
                            <label for="sexos" class="col-sm-2 col-form-label text-right">Sexo</label>
                            <InputSelect id="sexos" @bind-Value="cliente.idSexo" class="form-control col-sm-4">
                                <option value="1">Masculino</option>
                                <option value="2">Femenino</option>
                            </InputSelect>


                        </div>
                        <div class="form-group row">
                            <label for="fechaDeNacimiento" class="col-sm-2 col-form-label text-right">Apodo</label>
                            <InputDate @bind-Value="cliente.FechaNacimiento" class="col-sm-10" />
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="form-group row mt-5">
                            <label  class="col-sm-3 col-form-label text-right">Telefono Casa</label>
                            <RadzenMask  Mask="(***)-***-****" Pattern="[^0-9]" placeholder="(000)-000-0000" @bind-Value="cliente.TelefonoCasa " class="col-sm-3" />
                            
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-right">Telefono movil</label>
                            <RadzenMask Mask="(***)-***-****" Pattern="[^0-9]" placeholder="(000)-000-0000" @bind-Value="cliente.TelefonoMovil " class="col-sm-3" />
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-right">Profesion</label>
                            <InputSelect id="Ocupaciones" @bind-Value="cliente.IdTipoProfesionUOcupacion" class="form-control col-sm-4">
                                @foreach (var item in Ocupaciones)
                                {
                                    <option value=@item.IdOcupacion>@item.Nombre</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="ml-5">
                            <InputImages OnImageSet="SetImages" ImageQty="2" Text="Seleccione las imagenes para el cliente"></InputImages>
                        </div>
                    </div>

            </div>
        </EditForm>
        @*<EventConsole @ref="@console"> </EventConsole>*@
    </div>
</div>

<div class="grid">
    @if (loading)
    {
        <div class="loader">Cargando...</div>
    }

</div>


