@model IEnumerable<PrestamosListVm>

<div class="row">
    <div id="listContainer" class="col-md-12 col-sm-12 col-xs-12">

        <a href="@Url.Action("CreateOrEdit", "Prestamos")" class="btn btn-primary" role="button" style="float:right;">
            Agregar <i class="fa fa-plus"></i>
        </a>
        <div class="x_panel">
            <div class="x_title">
                <h2>informe de Prestamos</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @* data *@
                <div class="table-responsive">
                    <table id="datatable" class="table-bordered row-border " >
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.PrestamoNumero)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Fecha)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NombreCliente)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MontoPrestado)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrestamoNumero)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fecha)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreCliente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MontoPrestado)
                                </td>
                                <td>
                                <td>
                                    @Html.ActionLink(" ", "Anular", new { id = @item.idPrestamo }, htmlAttributes: new { @class = "btn btn-outline-danger fa fa-trash" })
                                    @Html.ActionLink(" ", "CreateOrEdit", new { id = @item.idPrestamo }, htmlAttributes: new { @class = "btn btn-outline-warning fa fa-edit" })
                                </td>
                            </tr>
                            }
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable(dataTableConfiguration);
        removeTemplateConfiguration();
    });
</script>
