
<MudCard>
    <MudCardHeader>
        <MudText>Informacion Del Cliente</MudText>
    </MudCardHeader>
    <MudCardContent>
        <MudGrid Spacing="1">
            <MudItem sm="4" md="4" lg="4">
                <MudCard>
                    <MudCardHeader>
                        <MudText>Informacion Del Cliente</MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <div style="height:280px;">

                        <MudText><b>Nombre: </b> @Prestamo.infoCliente.NombreCompleto </MudText>
                        <MudText><b>Documento: </b> @Prestamo.infoCliente.NumeracionDocumentoIdentidad </MudText>
                        <MudText><b>Direccion: </b> @Prestamo.infoCliente.Direccion </MudText>
                        </div>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem sm="4" md="4"lg="4">
                <MudCard>
                    <MudCardHeader>
                        <MudText>Informacion Del Prestamo</MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudCarousel Class="mud-width-full" Style="height:280px;" TData="object" AutoCycle="true" ShowArrows="false">
                            <MudCarouselItem  Transition="Transition.Slide">
                                <div style="height:100%">
                                    <MudText><b>Prestamo # : </b> @Prestamo.Prestamo.PrestamoNumero</MudText>
                                    <MudText><b>Cantidad De Cuotas: </b> @Prestamo.Prestamo.CantidadDeCuotas</MudText>
                                    <MudText><b>Cuotas Pendientes: </b> -</MudText>
                                    <MudText><b>Monto: </b> @Prestamo.Prestamo.MontoPrestado</MudText>
                                    <MudText><b>Fecha Prestamo: </b> @Prestamo.Prestamo.FechaEmisionReal</MudText>
                                    <MudText><b>Fecha Ultimo Pago: </b> @DateTime.Now.ToShortDateString()</MudText>
                                    <MudText><b>Ultimo Balance: </b> 50,000.00</MudText>
                                </div>
                            </MudCarouselItem>
                            <MudCarouselItem Transition="Transition.Fade">
                                <div style="height:100%">
                                    <MudText><b>Cargo Por Mora / Atrasos: </b> @Prestamo.PrestamoInfo.CargoMora </MudText>
                                    <MudText><b>Periodos a Cargar: </b> @Prestamo.PrestamoInfo.PeriodosCargar</MudText>
                                    <MudText><b>Interes A Cargar: </b> @Prestamo.PrestamoInfo.InteresCargar</MudText>
                                    <MudText><b>Balance: </b> @Prestamo.PrestamoInfo.Balance</MudText>
                                    <MudText><b>Total A Pagar Hoy: </b> @Prestamo.PrestamoInfo.TotalPagarHoy</MudText>
                                    <MudText><b>Interes Al Dia : </b> @Prestamo.PrestamoInfo.InteresAlDia</MudText>
                                    <MudText><b>Capital De Inicio: </b> @Prestamo.PrestamoInfo.CapitalInicio</MudText>
                                    <MudText><b>Emision : </b> @Prestamo.PrestamoInfo.Emision</MudText>
                                    <MudText><b>Vence: </b> @Prestamo.PrestamoInfo.Vence</MudText>
                                </div>
                            </MudCarouselItem>s
         
                        </MudCarousel>
              
            
                    </MudCardContent>
                </MudCard>

            </MudItem>
            <MudItem sm="4" md="4" lg="4">
                @if (Prestamo.Prestamo.LlevaGarantia)
                {
                    <MudCard>
                        <MudCardHeader>
                            <MudText>Informacion De Las Garantias</MudText>
                        </MudCardHeader>
                        <MudCardContent>
                          <MudCarousel Class="mud-width-full" Style="height:280px;" TData="object" AutoCycle="true" ShowArrows="false">
                            @foreach (var item in Prestamo.infoGarantias)
                            {
                                <MudCarouselItem Transition="Transition.Slide">
                                    <div style="height:100%">
                                            <MudText><b>Tipo De Garantia : </b> @item.NombreTipoGarantia</MudText>
                                            <MudText><b>Garantia No.: </b> @item.NumeracionGarantia</MudText>
                                            <MudText><b>Garantia: </b> @item.NombreModelo </MudText>
                                    </div>
                                </MudCarouselItem>
                            }
                            </MudCarousel>
                        </MudCardContent>
                    </MudCard>
                }
            </MudItem>
        </MudGrid>
        <MudDivider Style="margin:10px;"/>
        <MudGrid>
            <MudItem sm="4" md="4" lg="4">
                <MudCard>
                    <MudCardHeader>
                        <MudText>Informacion De Las Cuotas</MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        @foreach (var item in Prestamo.Cuotas)
                        {
                            <MudText><b>Numero Cuota : </b> @item.NumeroCuota</MudText>
                            <MudText><b>Balance: </b> @item.Balance</MudText>
                            <MudText><b>Monto: </b> @item.Monto </MudText>
                        }
                    </MudCardContent>
                </MudCard>
            
            </MudItem>
              <MudItem sm="4" md="4" lg="4">
                  </MudItem>
            <MudItem sm="4" md="4" lg="4">
                <MudCard>
                    <MudCardHeader>
                        <MudText>Pago a Realizar</MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudNumericField T="decimal" Label="Monto" Value="MontoPagar" />
                        <MudButton 
                            Style="margin-top:10px;"
                            Variant="Variant.Filled"
                            ButtonType="ButtonType.Button"
                            Color="MudBlazor.Color.Primary" 
                            FullWidth>Realizar Pago</MudButton>
                    </MudCardContent>
                </MudCard>

            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>
<MudDivider />


@code {

}
