<MudGrid>
    <MudItem md="12" lg="12">

    <MudTextField Variant="Variant.Outlined" T="string" FullWidth="true" 
    s
    Value="SearchText" 
    Label="Buscar..."
    Adornment="Adornment.End"
    AdornmentIcon="@Icons.Material.Outlined.Search" 
    OnAdornmentClick="()=>GetPrestamo()" />
    </MudItem>
</MudGrid>
<MudDivider/>
<MudCard>
    <MudCardHeader>
        <MudText>Informacion Del Cliente</MudText>
    </MudCardHeader>
    <MudCardContent>
        <MudGrid Spacing="1">
            <MudItem sm="12" md="4" lg="4">
                        <MudCard Style="margin-bottom:10px;">
                            <MudCardHeader>
                                <MudText>Informacion Del Cliente</MudText>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudText><b>Nombre: </b> @Prestamo.infoCliente.NombreCompleto </MudText>
                                <MudText><b>Documento: </b> @Prestamo.infoCliente.NumeracionDocumentoIdentidad </MudText>
                                <MudText><b>Direccion: </b> @Prestamo.infoCliente.Direccion </MudText>
                            </MudCardContent>
                        </MudCard>
                        <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText >Detalles De Las Cuotas</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Material.Filled.Assignment" Color="MudBlazor.Color.Default" OnClick="ShowCuotasInfo" />
                        </CardHeaderActions>
                    </MudCardHeader>
                            <MudCardContent Style="max-height:200px; overflow:auto;">
                                <MudText><b>Cantidad De Cuotas: </b> @Prestamo.Prestamo.CantidadDeCuotas</MudText>
                                <MudText><b>Cuotas Pendientes: </b> -</MudText>
                                @foreach (var item in Cuotas)
                                {
                                    <MudDivider/>
                                    <MudText><b>Numero Cuota : </b> @item.NumeroTransaccion</MudText>
                                    <MudText><b>Balance: </b> @item.Balance</MudText>
                                    <MudText><b>Monto: </b> @item.Monto </MudText>
                                }
                            </MudCardContent>
                        </MudCard>
     
            </MudItem>
            <MudItem sm="12" md="5"lg="5">
                <MudCard>
                    <MudCardHeader>
                        <MudText>Informacion Del Prestamo</MudText>
                    </MudCardHeader>
                    <MudCardContent>
                                <MudGrid>
                                    <MudItem sm="12" md="6" lg="6">
                                <MudText><b>Prestamo # : </b> @Prestamo.Prestamo.PrestamoNumero</MudText>
                                <MudText><b>Monto: </b> @Prestamo.Prestamo.MontoPrestado</MudText>
                                <MudText><b>Fecha Prestamo: </b> @Prestamo.Prestamo.FechaEmisionReal</MudText>
                                <MudText><b>Fecha Ultimo Pago: </b> @DateTime.Now.ToShortDateString()</MudText>
                                <MudText><b>Ultimo Balance: </b> 50,000.00</MudText>
                                <MudText><b>Cargo Por Mora / Atrasos: </b> @Prestamo.PrestamoInfo.CargoMora </MudText>
                                <MudText><b>Periodos a Cargar: </b> @Prestamo.PrestamoInfo.PeriodosCargar</MudText>
                                <MudText><b>Interes A Cargar: </b> @Prestamo.PrestamoInfo.InteresCargar</MudText>
                                    </MudItem>
                                        <MudItem sm="12" md="6" lg="6">
                                <MudText><b>Balance: </b> @Prestamo.PrestamoInfo.Balance</MudText>
                                <MudText><b>Total A Pagar Hoy: </b> @Prestamo.PrestamoInfo.TotalPagarHoy</MudText>
                                <MudText><b>Interes Al Dia : </b> @Prestamo.PrestamoInfo.InteresAlDia</MudText>
                                <MudText><b>Capital De Inicio: </b> @Prestamo.PrestamoInfo.CapitalInicio</MudText>
                                <MudText><b>Emision : </b> @Prestamo.PrestamoInfo.Emision</MudText>
                                <MudText><b>Vence: </b> @Prestamo.PrestamoInfo.Vence</MudText>
                                            </MudItem>
                                </MudGrid>
                    </MudCardContent>
                </MudCard>

            </MudItem>
            <MudItem sm="12" md="3" lg="3">
                @if (Prestamo.Prestamo.LlevaGarantia)
                {
                    <MudCard>
                        <MudCardHeader>
                            <MudText>Informacion De Las Garantias</MudText>
                        </MudCardHeader>
                        <MudCardContent>
                          <MudCarousel Class="mud-width-full" Style="height:150px;" TData="object" AutoCycle="false" ShowArrows="false" ShowBullets="true">
                            @foreach (var item in Prestamo.infoGarantias)
                            {
                                <MudCarouselItem Transition="Transition.Slide">
                                    <div style="height:100%">
                                            <MudText><b>Tipo De Garantia : </b> @item.NombreTipoGarantia</MudText>
                                            <MudText><b>Garantia No.: </b> @item.NumeracionGarantia</MudText>
                                            <MudText><b>Garantia: </b> @item.NombreModelo </MudText>
                                    </div>
                                </MudCarouselItem>
                            }
                            </MudCarousel>
                        </MudCardContent>
                    </MudCard>
                }
            </MudItem>
        </MudGrid>
        <MudGrid Style="justify-content:flex-end !important">
            <MudItem sm="4" md="4" lg="4">
                <MudCard>
                    <MudCardHeader>
                        <MudText>Pago a Realizar</MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudNumericField T="decimal" Label="Monto" Value="MontoPagar" />
                        <MudButton 
                            Style="margin-top:10px;"
                            Variant="Variant.Filled"
                            ButtonType="ButtonType.Button"
                            Color="MudBlazor.Color.Primary" 
                            FullWidth>Realizar Pago</MudButton>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>
<MudDivider />


@code {

}
