
@model RoleVM



<div class="row">

    <div id="listContainer" class="col-md-12 col-sm-12 col-xs-12">
        
        @using (Html.BeginForm("CreateOrEdit", "Roles", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
        {

            <div id="rolename">
                <div class="col-5" style="margin: auto; padding: 0%; ">
                    <h4 style="text-align: center;">Elija el role a editar</h4>

                    <select name="Role.Role.IdRole" id="role-select" class="form-control form-control-lg">
                        <option value="0">Seleccione un role</option>

                        @foreach (var role in Model.ListaRoles)
                        {
                            <option value="@role.IdRole">@role.Nombre</option>
                        }
                    </select>

                    @* <input class="target form-control" type="text" placeholder="Escriba el nombre del role aqui" name="Role.Role.Nombre" value="" style="height: 60px" />*@
                </div>

            </div>
            <br />

            

            @*<div class="ln_solid"></div>

                @*</form>*@


            <div class="x_panel">
                <div class="x_title">
                    <h2>Operaciones</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content col-md-12">
                    @{
                        int grupo = 0;
                        int lastgrupo = 0;
                    }
                    @*<div class="row">*@
                    @foreach (var operacion in Model.Operaciones)
                    {

                        if (grupo != operacion.Grupo)
                        {

                            @*@Html.Raw("<div class=\"col-md-5\">")*@
                            <h2>@Operacion.Grupos[operacion.Grupo - 1]</h2>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" name="Role.ListaOperaciones[]" id="@operacion.Codigo" value="@operacion.IdOperacion">
                                <label class="custom-control-label" for="@operacion.Codigo">@operacion.Nombre</label>
                                <br />
                                <small>@operacion.Descripcion</small>
                            </div>
                            grupo = operacion.Grupo;
                            lastgrupo = grupo - 1;
                        }
                        else
                        {
                            if (grupo != lastgrupo)
                            {
                                @*@Html.Raw("</div>")*@
                                lastgrupo = grupo;

                            }
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" name="Role.ListaOperaciones[]" id="@operacion.Codigo" value="@operacion.IdOperacion">
                                <label class="custom-control-label" for="@operacion.Codigo">@operacion.Nombre</label>
                                <br />
                                <small>@operacion.Descripcion</small>
                            </div>
                        }
                    }
                    @*</div>*@

                </div>
            </div>
            <div class="item form-group" style="float: right;">
                <div class="col-md-6 col-sm-6 offset-md-3">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        }
    </div>
</div>

<script>

    $(document).ready(function () {

        let idrole = @Html.Raw(Json.Encode(Model.Role.IdRole));
        console.log(idrole);
        if (idrole !== 0) {
            searchRoleOperaciones(idrole);
            $('#role-select option[value="' + idrole + '"]').attr("selected", "selected");

        }

    });

    $("#role-select").change(function () {
        let roleId = $(this).children("option:selected").val();
        console.log(roleId);
        if (roleId != 0) {
            searchRoleOperaciones(roleId);
        }
    });

    async function searchRoleOperaciones(roleId) {
       
        try {
            const res = await BuscarRoleOperaciones(roleId);
            let array = JSON.parse(res);
            console.log(array);

            $(':checkbox').prop("checked", false);
            $(':checkbox').removeAttr("checked", "checked");

            for (var item in array) {
                $(':checkbox[value="' + array[item].IdOperacion.toString() + '"]').prop("checked", true);
                $(':checkbox[value="' + array[item].IdOperacion.toString() + '"]').attr("checked", "checked");
                console.log($(':checkbox[value="' + array[item].IdOperacion.toString() + '"]'));
            }

        } catch (err) {
        }
    }

    function BuscarRoleOperaciones(idRole) {

        let dataValue = { "idRole": idRole };

        return $.ajax({
            type: "get",
            url: "/Roles/BuscarRoleOperaciones",
            data: dataValue,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
            },
            complete: function (jqXHR, status) {
            }
        });
    }

</script>



