<h2>Listado de opciones a probar o chequear </h2>
<br />
@Html.ActionLink("Ver un tree view de de ejemplo en razor", "treeViewExample2")
<br />
@Html.ActionLink("Ver un tree view de territorios en razor", "treeViewExample3")
<br />
@Html.ActionLink("Probando los checkBoxes", "CheckBoxes")
<br />
@Html.ActionLink("Registrar un equipo mediante cookie", "RegistrarEquipo")
<br />
@Html.ActionLink("Revisar si un equipo ha sido registrado", "EstaElEquipoRegistrado")
<br />
@Html.ActionLink("Desvincular el equipo registrado en el navegador", "Desvincular")

<br />
@Html.ActionLink("Permitir subir una imagen(en este caso simulando que es de un cliente", "Imagen")
<br />
@Html.ActionLink("Probando operaciones en usuario que estaban falladndo sobre todo los checkboxes", "Usuario")
<br />
@Html.ActionLink("retornar data en formato Json", "returnJson")
<br />
@Html.ActionLink("enviar un url de retorno a un metodo", "returnUrl", new { returnUrl = "cualquier contenido www.pcpapps.com"})
<br />
@Html.ActionLink("Customize Input File", "CustomizeInputFile1")
