@model  NegocioVM



@using (@Html.BeginForm("CreateOrEdit", "Negocios", FormMethod.Post, htmlAttributes: new { id = "negocioForm"  }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Negocio</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="clearfix"></div>
        <div class="row">
            <!-- form input mask -->
            <div class="col-md-6 col-sm-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="d-flex justify-content-end" >
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                        <div class="@HtmlClass.FormGroupCls">
                            <div class="text-center @HtmlClass.DivInputCls" role="alert" id="mensajeError">
                                @Html.ValidationSummary(true, "", new { @id = "validationSummary" })
                            </div>
                        </div>

                        <div class="@HtmlClass.FormGroupCls">
                            @Html.LabelFor(model => Model.Negocio.NombreJuridico, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                            <div class="@HtmlClass.DivInputCls">
                                @Html.EditorFor(model => Model.Negocio.NombreJuridico, new { htmlAttributes = new { @class = @HtmlClass.InputTextCls } })
                                @Html.ValidationMessageFor(model => Model.Negocio.NombreJuridico, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="@HtmlClass.FormGroupCls">
                            @Html.LabelFor(model => Model.Negocio.NombreComercial, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                            <div class="@HtmlClass.DivInputCls">
                                @Html.EditorFor(model => Model.Negocio.NombreComercial, new { htmlAttributes = new { @class = @HtmlClass.InputTextCls } })
                                @Html.ValidationMessageFor(model => Model.Negocio.NombreComercial, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="@HtmlClass.FormGroupCls">
                            @Html.LabelFor(model => Model.Negocio.Activo, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                            <div class="@HtmlClass.DivInputCls">
                                <div class="checkbox">
                                    @Html.EditorFor(model => Model.Negocio.Activo, new
                               { htmlAttributes = new { @class = @HtmlClass.CheckBoxCls, @onchange = "onChangeProp(this)" } })
                                    @Html.ValidationMessageFor(model => Model.Negocio.Activo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="@HtmlClass.FormGroupCls">
                            @Html.LabelFor(model => Model.Negocio.Bloqueado, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                            <div class="@HtmlClass.DivInputCls">
                                <div class="checkbox">
                                    @Html.EditorFor(model => Model.Negocio.Bloqueado, new { htmlAttributes = new { @class = @HtmlClass.CheckBoxCls, @onchange = "onChangeProp(this)" } })

                                    @Html.ValidationMessageFor(model => Model.Negocio.Bloqueado, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="@HtmlClass.FormGroupCls">
                            @Html.LabelFor(model => Model.Negocio.CorreoElectronico, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                            <div class="@HtmlClass.DivInputCls">
                                @Html.EditorFor(model => Model.Negocio.CorreoElectronico, new { htmlAttributes = new { @class = @HtmlClass.InputTextCls } })
                                @Html.ValidationMessageFor(model => Model.Negocio.CorreoElectronico, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="@HtmlClass.FormGroupCls">
                            @Html.LabelFor(model => Model.Negocio.TaxIdNo, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                            <div class="@HtmlClass.DivInputCls">
                                @Html.EditorFor(model => Model.Negocio.TaxIdNo, new { htmlAttributes = new { @class = @HtmlClass.InputTextCls } })
                                @Html.ValidationMessageFor(model => Model.Negocio.TaxIdNo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="@HtmlClass.FormGroupCls">
                            @Html.LabelFor(model => Model.Negocio.Logo, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                            <div class="@HtmlClass.DivInputCls">
                                @Html.EditorFor(model => Model.Negocio.Logo, new { htmlAttributes = new { @class = @HtmlClass.InputTextCls } })
                                @Html.ValidationMessageFor(model => Model.Negocio.Logo, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="@HtmlClass.FormGroupCls">
                            <label class="@HtmlClass.LabelCls"> Negocio Padre</label>
                            <div class="@HtmlClass.DivInputCls">
                                @Html.DropDownListFor(m => m.Negocio.IdNegocioPadre, SelectItems.Negocios(AuthInSession.AnonimousUser,0,AuthInSession.GetIdNegocio()), htmlAttributes: new { @class = @HtmlClass.InputTextCls })
                                @Html.ValidationMessageFor(model => model.Negocio.IdNegocioPadre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="@HtmlClass.FormGroupCls">
                            @Html.LabelFor(model => Model.Negocio.PermitirOperaciones, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                            <div class="@HtmlClass.DivInputCls">
                                @Html.EditorFor(model => Model.Negocio.PermitirOperaciones, new { htmlAttributes = new { @class = @HtmlClass.CheckBoxCls, @onchange = "onChangeProp(this)" } })
                                @Html.ValidationMessageFor(model => model.Negocio.PermitirOperaciones, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="@HtmlClass.FormGroupCls">
                            @Html.LabelFor(model => Model.Negocio.Codigo, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                            <div class="@HtmlClass.DivInputCls">
                                @Html.EditorFor(model => Model.Negocio.Codigo, new { htmlAttributes = new { @class = @HtmlClass.InputTextCls } })
                                @Html.ValidationMessageFor(model => Model.Negocio.Codigo, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/Scripts/Apps/manageErrorMessageOnForms.js"></script>
    <script src="~/Scripts/Apps/CheckInput.js"></script>
    <script>
        let formulario = $("#negocioform");
    </script>
}

