@model IEnumerable<Negocio>
<div class="row">
    <div id="listContainer" class="col-md-12 col-sm-12 col-xs-12">

        <a href="@Url.Action("CreateOrEdit", "Negocios",new { idNegocio = -1 })" class="btn btn-primary" role="button" style="float:right;">
            Agregar <i class="fa fa-plus"></i>
        </a>

        <h4>Tabla de negocios</h4>
        <div class="x_panel">
            <div class="x_content">
                <div class="table-responsive">
                    <table id="datatable" class="table-bordered row-border" >
                        <thead>
                            <tr>
                                <th class="checkColumn"></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Codigo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NombreJuridico)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NombreComercial)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Activo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Bloqueado)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="@(!item.Activo ? "table-active" : "" )"
                                     data-id="@item.IdNegocio">
                                    <td>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Codigo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreJuridico)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreComercial)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Activo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bloqueado)
                                    </td>
                                    @*<td>
                                        @Html.ActionLink(" ", "Anular", new { id = @item.IdNegocio }, htmlAttributes: new { @class = "btn btn-outline-danger fa fa-trash" })
                                        @Html.ActionLink(" ", "CreateOrEdit", new { id = @item.IdNegocio }, htmlAttributes: new { @class = "btn btn-outline-warning fa fa-edit" })

                                    </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    let onEditButton = function () {
        let id = $('tr.selected').data("id");

        if (id) {
            window.location.href = "/Negocios/CreateOrEdit/" + id;
        }
    }
    let onDeactivateButton = function () {
    }
    let onCancelButton = async function () {
        let id = $('tr.selected').data("id");

        if (id) {
            window.location.href = "/Negocios/Anular/" + id;
        }
    }
    let onNewButton = function () {
        window.location.href = "/Negocios/CreateOrEdit?idNegocio=-1";
    }

    $(document).ready(function () {
        $('#datatable').DataTable(dataTableConfiguration);
        removeTemplateConfiguration();
    });
</script>
