
@inherits BaseForSearch

@if (showUI)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Busqueda de Garantias</h4>
                    <button type="button" class="close" data-dismiss="modal" @onclick="onShowUiChange">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <select @onchange="OnSelectedOptionChange">
                            @foreach (var opcionBusqueda in Enum.GetValues(typeof(OpcionesSearchGarantia)))
                            {
                                <option value="@((int)opcionBusqueda)">@opcionBusqueda</option>
                            }
                        </select>
                    </div>

                    <div class="form-group ml-1 row ">
                        <input @onchange="OnTextSearchChange" class="col-md-8" placeholder="escriba lo que desea buscar" />
                        <button @onclick="SearchGarantia" title="ejecutar busqueda"><i class="fa fa-search col-md-4" aria-hidden="true"></i></button>
                    </div>
                    <div style="width: 100%; height: 200px; overflow-y: scroll;">
                        @if (Garantias == null)
                        {
                            <p> cargando datos</p>
                        }

                        else
                        {
                            <p>@(Garantias.Count()>0 ? "registros encontrados "+Garantias.Count() : "Datos no encontrados para su busqueda")</p>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            Numeracion
                                        </th>
                                        <th>
                                            Detalles
                                        </th>
                                        <th>
                                            Seleccionar
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in @Garantias)
                                    {
                                        <tr>
                                            <td>@item.NoIdentificacion</td>
                                            <td>@($"{item.NombreMarca} {item.NombreModelo} {item.DetallesJSON.Ano} {item.NombreColor}  placa {@item.DetallesJSON.Placa} matricula {@item.DetallesJSON.Matricula}") </td>
                                            <td><input type="checkbox" @onclick="() => SelectGarantia(item.IdGarantia)" /> </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
