@page "/listadoLocalidadesV2"
@inherits BaseForCreateOrEdit
@using PrestamoBlazorApp.Shared.Components.Localidades

@if (!Localidades.Any())
{
    <h3>Cargando datos</h3>
}
else
{
    
    <MudPaper Width="350px" MaxHeight="500px" Class="overflow-y-auto" Elevation="0">
        <MudTreeView Items="TreeItems">
            <ItemTemplate>
                <MudTreeViewItem @bind-Expanded="@context.IsExpanded" Items="@context.TreeItems">
                    <Content>
                        <MudTreeViewItemToggleButton @bind-Expanded="@context.IsExpanded" Visible="@context.HasChild" />
                        @*<MudCheckBox T="bool?" Checked="@(context.HasPartialChildSelection() ? null : context.IsChecked)" CheckedChanged="@((e) => CheckedChanged(context))"></MudCheckBox>*@
                        <MudText>@context.Text</MudText>
                    </Content>
                </MudTreeViewItem>
            </ItemTemplate>
        </MudTreeView>
    </MudPaper>
}