@page "/localidades"
@inherits BaseForCreateOrEdit
@using PrestamoBlazorApp.Shared.Components.Localidades

<MudCard>
    <MudCardHeader>
        <CardHeaderActions>
            <MudButton ButtonType="ButtonType.Submit">Guardar</MudButton>
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        @*<GetLocalidades OnLocalidadSelected="HandleLocalidadSelected"></GetLocalidades>*@
        @*<BuscarLocalidades OnLocalidadSelected="HandleLocalidadSelected"></BuscarLocalidades>*@
        <MudItem md="6" lg="6">
            <BuscarLocalidades OnLocalidadSelected="Handle_LocalidadSelected"></BuscarLocalidades>
            <MudChip Color="MudBlazor.Color.Info"> @SelectedLocalidad</MudChip>
        </MudItem>
        <h2 id="titulodelocalidad" class="card-title"> @(Territorios.Count() == 1? "Agregar " + Territorios.First().Nombre : "Agregar: ")</h2>
        <EditForm Model="@Localidad" OnValidSubmit="SaveLocalidad" OnInvalidSubmit="RaiseInvalidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="4" md="4">
                    <MudGrid>
                        <MudSelect @bind-Value="SelectedTipoLocalidad">
                            @foreach (var item in Territorios)
                            {
                                <MudSelectItem Value="@item.IdDivisionTerritorial">@(item.Nombre)</MudSelectItem>
                            }
                        </MudSelect>
                    </MudGrid>
                    <MudGrid>
                        <MudTextField Label="Nombre"
                                      @bind-Value="Localidad.Nombre" required
                                      For="() => Localidad.Nombre"></MudTextField>
                    </MudGrid>
                </MudItem>
            </MudGrid>
        </EditForm>
        <MudList>
            @foreach (var item in LocalidadesHijas)
            {
                <MudListItem>
                    <p> Tipo: @(item.DivisionTerritorial) - <span class="badge badge-primary">@(item.Nombre)</span> </p>

                </MudListItem>
            }
        </MudList>
    </MudCardContent>
</MudCard>

@code {
    private string CurrentValue { get; set; }

}
