@inherits BaseForCreateOrEdit
@using System.ComponentModel.DataAnnotations
@layout PrestamoBlazorApp.Shared.Layout.LoginLayout
<MudDialog> 
    <DialogContent>
        <EditForm Model="@users">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div style="display:flex; justify-content:center;">
                <MudText Typo="Typo.h4">PC PROG</MudText>
            </div>
            <MudTextField Label="Codigo Empresa" Class=" border-2 mud-border-primary pa-0 " Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.People" Required="true" RequiredError=" Nombre de usuario es requerido!" Elevation="0" @bind-Value="@_LoginCredentialsDto.CompanyCode" />
            <MudTextField Label="Nombre" Class=" border-2 mud-border-primary pa-0 " Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.People" Required="true" RequiredError=" Nombre de usuario es requerido!" Elevation="0" @bind-Value="@_LoginCredentialsDto.UserName" />
            <MudTextField Label="Contraseña" InputType="InputType.Password" Class=" border-2 mud-border-primary pa-0" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Password" Required="true" RequiredError="User name is required!" Elevation="0" @bind-Value="@_LoginCredentialsDto.Password" />
            <ValidationMessage For="@(() => users.Contraseña)" />
            <MudDivider DividerType="DividerType.Middle" Style="margin:20px;" />
            <MudButton @onclick='()=> HandleValidSubmit()' Size="Size.Large" ButtonType="ButtonType.Button" FullWidth="true" Variant="Variant.Filled" Color="@MudBlazor.Color.Primary">Entrar</MudButton>
        </EditForm>
    </DialogContent>

</MudDialog>
@code {


        [Parameter]
        public RenderFragment? Content { get; set; }
        [Parameter]
        public EventCallback<MouseEventArgs> OnSaveClick { get; set; }
        [Parameter]
        public bool ShowGuardar { get; set; } = true;
        [Parameter]
        public EventCallback<MouseEventArgs> OnCancelClick { get; set; }


        
}
