@inherits CommonBase
<MudGrid>
    <MudItem xs="8" sm="8">
        @Text
    </MudItem>

    @{
        if (imagenes.Where(ima => !ima.Quitar).Count() >= ImageQty)
        {
            <MudItem xs="12" sm="12">
                <MudText>    imagenes permitidas @ImageQty </MudText>
                @*Si desea agregar imagenes debe quitar de las que ya estan*@
            </MudItem>
        }
        else
        {
            <MudItem xs="12" sm="4">
                <MudButton HtmlTag="label"
                   Variant="Variant.Filled"
                   Color="MudBlazor.Color.Primary"
                   StartIcon="@Icons.Material.Filled.CloudUpload"
                       for="@idFileInputName">
                    @ImageQty
                </MudButton>
            </MudItem>
            <MudItem xs="12" sm="12">
                <InputFile id="@idFileInputName" OnChange="OnInputFileChange" accept="image/*" hidden />
            </MudItem>
        }
    }
</MudGrid>

<div class="img-fluid col-md-5">
    <table class="table">
        <tbody>
            <tr>
                @{
                    if (loadedImages)
                    {

                        int imageIndex = 0;
                        @foreach (var imagen in imagenes.Where(ima => !ima.Quitar))
                        {
                            <td>
                                <img src="@imagen.Base64string" style="height:@HeightInPx" />
                                <ConfirmationDialog ButtonText="Quitar"
                                        objRef="@imagen"
                                        OnOk="QuitarImagen"
                                        Title="Confirmar Quitar Foto"
                                        ConfirmationMessage="Realmente desea quitar la foto" />
                            </td>
                            imageIndex++;
                            <MudText>@imageIndex</MudText>
                        }
                    }
                }
            </tr>
        </tbody>
    </table>

</div>

