@page "/Cliente/PrestamoInfo"
@inherits BaseForList
@using PrestamoBlazorApp.Shared.Components.EntidadEstatus
<MudCard>
    <MudCardContent>
        <MudGrid>
            <MudItem md="6" lg="6">
                <MudTextField @bind-bind-Value="@SearchText" T="string"  />
            </MudItem>
            <MudItem md="6" lg="6">
                <MudButton OnClick="@DialogSearchPrestamo" >
                    Buscar Prestamo
                </MudButton>
                @*<MudTextField @bind-bind-Value="@SearchText" T="string" />*@
            </MudItem>
        </MudGrid>
        <br/>
        <MudDivider/>
        <MudGrid>
            <MudItem md="3" lg="3">
                <h2>Datos Del Cliente</h2>
                <p style="font-weight:bold;">Nombre: <span style="font-weight:normal;">@_Prestamo.NombreCompleto</span></p>
                <p style="font-weight:bold;">TipoDocumento: <span style="font-weight:normal;">@_Prestamo.NombreDocumentoIdentidad</span></p>
                <p style="font-weight:bold;">Documento: ***<span style="font-weight:normal;">@_Prestamo.DocumentoIdentidadMasked</span></p>

            </MudItem>
            <MudItem md="3" lg="3">
                <h2>Datos Del Prestamo</h2>
                <p style="font-weight:bold;"># Prestamo: <span style="font-weight:normal;">@_Prestamo.PrestamoNumero</span></p>
                <p style="font-weight:bold;">Emision: <span style="font-weight:normal;">@_Prestamo.FechaEmisionReal</span></p>
                <p style="font-weight:bold;">Vence: <span style="font-weight:normal;">@_Prestamo.FechaVencimiento</span></p>

            </MudItem>
            <MudItem md="3" lg="3">
                <h2>Datos De Las Garantia</h2>

                @foreach (var item in _Garantias)
                {
                    @if(item.IdTipoGarantia == (int)eTipoGarantia.Inmobiliara)
                    {
                        <p style="font-weight:bold;">Tipo Garantia: <span style="font-weight:normal;">@eTipoGarantia.Inmobiliara.ToString()</span></p>
                        <p style="font-weight:bold;">Identificacion: <span style="font-weight:normal;">@item.NoIdentificacion</span></p>
                        <p style="font-weight:bold;">Descripcion: <span style="font-weight:normal;">@item.DetalleGarantia.Descripcion</span></p>
                        <p style="font-weight:bold;">Direccion: <span style="font-weight:normal;">@item.DetalleGarantia.DetallesDireccion</span></p>
                        <p style="font-weight:bold;">Medida: <span style="font-weight:normal;">@item.DetalleGarantia.Medida</span></p>
                        <p style="font-weight:bold;">Valor: <span style="font-weight:normal;">@item.DetalleGarantia.Valor</span></p>
                        <p style="font-weight:bold;">Color: <span style="font-weight:normal;">@item.NombreColor</span></p>
                    }
                    else
                    {
                        <p style="font-weight:bold;">Tipo Garantia: <span style="font-weight:normal;">@eTipoGarantia.Mobiliara.ToString()</span></p>
                        <p style="font-weight:bold;">Identificacion: <span style="font-weight:normal;">@item.NoIdentificacion</span></p>
                        <p style="font-weight:bold;">Marca: <span style="font-weight:normal;">@item.NombreMarca</span></p>
                        <p style="font-weight:bold;">Modelo: <span style="font-weight:normal;">@item.NombreModelo</span></p>
                        <p style="font-weight:bold;">Color: <span style="font-weight:normal;">@item.NombreColor</span></p>
                        <p style="font-weight:bold;">Placa: <span style="font-weight:normal;">@item.DetalleGarantia.Placa</span></p>
                        <p style="font-weight:bold;">Matricula: <span style="font-weight:normal;">@item.DetalleGarantia.Matricula</span></p>
                        <p style="font-weight:bold;">Valor: <span style="font-weight:normal;">@item.DetalleGarantia.Valor</span></p>

                    }
          
                    <MudDivider/>
                }
            </MudItem>
            <MudItem md="3" lg="3">
                <h2>Datos Del Codeudor</h2>

            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>
@code {

}
