@page "/garantias/CreateOrEdit/"
@page "/garantias/CreateOrEdit/{idgarantia:int}"
@inherits BaseForCreateOrEdit
@*<h1>Garantias CreateOrEdit <button type="submit" class="btn btn-primary" @onclick="() => SaveGarantia()">Guardar</button></h1>*@


<!--<button class="btn btn-primary" @onclick="GetGarantias">Get By Param</button>-->
@*<button class="btn btn-primary" @onclick="GetAll">Get All</button>*@
<!--<button class="btn btn-primary" @onclick="Clear">Limpiar lista</button>-->
<EditForm autocomplete="off" Model="@Garantia" OnInvalidSubmit="RaiseInvalidSubmit">
    <MudCard>
        <MudCardContent>

            <DataAnnotationsValidator />
            <ValidationSummary />
            <MudText Typo="Typo.h6">Clasificacion de Garantia</MudText>
            <MudDivider />
            @if (idgarantia <= 0)
            {
                <MudGrid>
                    <MudItem md="6" lg="6">
                        <MudRadioGroup @bind-SelectedOption="SelectedIdClasificacionGarantia">
                            <MudRadio Option="@((int)TiposClasificacionGarantia.Inmobiliaria)" Color="MudBlazor.Color.Primary">Inmobiliario</MudRadio>
                            <MudRadio Option="@((int)TiposClasificacionGarantia.Mobiliaria)" Color="MudBlazor.Color.Secondary">Mobiliaria</MudRadio>
                        </MudRadioGroup>
                    </MudItem>
                </MudGrid>
                <!--<div class="form-group">-->
                @*<InputRadio @bind-Value=" Garantia.IdClasificacion" id="inmobiliario_option"  @onchange="selectedRadioClasificacion"></InputRadio>*@

                <!--<input type="radio" name="Garantia.IdClasificacion" id="inmobiliario_option" value="@((int)TiposClasificacionGarantia.Inmobiliaria)" checked="@(Garantia.IdClasificacion == (int)TiposClasificacionGarantia.Inmobiliaria)" @onchange="selectedRadioClasificacion" />
        <label for="inmobiliario_option">Inmobiliario</label>-->
                @*<i class="fa fa-home"></i>*@ @*Inmobiliriario*@
                <!--<br />-->
                @*<InputRadio @bind-Value="Garantia.IdClasificacion" id="mobiliario_option"  @onchange="selectedRadioClasificacion"></InputRadio>*@
                <!--<input type="radio" name="Garantia.IdClasificacion" id="mobiliario_option" value="@((int)TiposClasificacionGarantia.Mobiliaria)" checked="@(Garantia.IdClasificacion==(int)TiposClasificacionGarantia.Mobiliaria)" @onchange="selectedRadioClasificacion" />
        <label for="mobiliario_option">Mobiliario</label>-->
                @*<i class="fa fa-car"></i>*@ @*Mobiliriario*@
                <!--</div>-->
            }
            else
            {
                if (Garantia.IdClasificacion == 1)
                {
                    <h3> Tipo: Inmobiliario</h3>
                }
                else
                {
                    <h3> Tipo: Mobiliario</h3>
                }
            }
            <MudGrid>
                <MudItem md="6" lg="6">
                    <MudTextField @bind-Value="Garantia.NoIdentificacion" Required="true" Label="No. Identificacion"></MudTextField>
                </MudItem>
                @if (idgarantia <= 0)
                {
                    <MudItem md="6" lg="6">
                        <MudSelect @bind-Value="Garantia.IdTipoGarantia" Label="Tipo De Garantia">
                            <MudSelectItem Value="-1" Disabled="true">Seleccione Un Tipo De Garantia</MudSelectItem>
                            @foreach (var item in tipogarantia)
                                {
                                <MudSelectItem Value="@item.IdTipoGarantia">@item.Nombre</MudSelectItem>
                                }
                        </MudSelect>
                    </MudItem>
                }
                else
                {
                    <MudItem md="6" lg="6">
                        <MudSelect @bind-Value="Garantia.IdTipoGarantia" Label="Tipo De Garantia" Disabled="true">
                            <MudSelectItem Value="-1" Disabled="true">Seleccione Un Tipo De Garantia</MudSelectItem>
                            @foreach (var item in tipogarantia)
                                {
                                <MudSelectItem Value="@item.IdTipoGarantia">@item.Nombre</MudSelectItem>
                                }
                        </MudSelect>
                    </MudItem>
                }
            </MudGrid>
            @{
                string strIsShow = "";
                strIsShow = IsShowInmobiliario == true ? "Block" : "None";
            }
            <MudGrid Style='@($"display:{strIsShow};")'>
                <MudItem md="6" lg="6">
                    <MudGrid>
                        <MudItem md="12" lg="12">
                            <BuscarLocalidades OnLocalidadSelected="Handle_LocalidadSelected"></BuscarLocalidades>
                            <MudChip Color="MudBlazor.Color.Info"> @SelectedLocalidad</MudChip>
                        </MudItem>
                        <MudItem md="12" lg="12">
                            <MudTextField @bind-Value="@detalleGarantia.DetallesDireccion" Label="Detalle Direccion"></MudTextField>
                        </MudItem>
                        <MudItem md="12" lg="12">
                            <MudTextField @bind-Value="@detalleGarantia.Medida" Label="Medida"></MudTextField>
                        </MudItem>
                     

                    </MudGrid>

                </MudItem>
            </MudGrid>
            @{
                string strShowMobiliario = "";
                strShowMobiliario = IsShowMobiliario == true ? "Block" : "None";
            }
            <MudGrid Style='@($"display:{strShowMobiliario};")'>
                <MudItem md="12">
                    <MudGrid>
                        <MudItem md="6" lg="6">
                            <MudItem md="12" lg="12">
                                <MudSelect @bind-Value="@Garantia.IdMarca" Label="Marca">
                                    <MudSelectItem Value="-1" Disabled="true">Selecciona una Marca</MudSelectItem>

                                    @foreach (var item in marcas)
                                    {
                                        <MudSelectItem Value="SelectedIdMarca">@item.Nombre</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem md="12" lg="12">
                                <MudSelect @bind-Value="@Garantia.IdModelo" Label="Modelo">
                                    <MudSelectItem Value="-1" Disabled="true">Selecciona un Modelo</MudSelectItem>

                                    @foreach (var item in modelos)
                                    {
                                        <MudSelectItem Value="@item.IdModelo">@item.Nombre</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem md="12" lg="12">
                                <MudSelect @bind-Value="@detalleGarantia.Color">
                                    <MudSelectItem Value="@("")" Disabled="true">Selecciona un Color</MudSelectItem>
                                    @foreach (var item in colores)
                                    {
                                        <MudSelectItem Value="@item.Nombre">@item.Nombre</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem md="12" lg="12">
                                <MudTextField @bind-Value="detalleGarantia.NoMaquina"></MudTextField>
                                <MudTextField @bind-Value="detalleGarantia.Matricula"></MudTextField>
                                <MudTextField @bind-Value="detalleGarantia.Ano"></MudTextField>
                                <MudTextField @bind-Value="detalleGarantia.Placa"></MudTextField>
                            </MudItem>
                        </MudItem>
                    </MudGrid>
                </MudItem>
            </MudGrid>
    <MudGrid>
        <MudItem md="6" lg="6">
            <MudNumericField @bind-Value="detalleGarantia.Valor" Label="Valor"></MudNumericField>
            <MudTextField @bind-Value="detalleGarantia.Descripcion" Label="Valor"></MudTextField>
            <MudCheckBox Checked="detalleGarantia.UsoExclusivo" Label="¿Puedo usar esta garantia en mas de 1 transaccion?"></MudCheckBox>
        </MudItem>
    </MudGrid>

            <MudGrid>
                <MudItem md="6" lg="6">
                    @if (this.Garantia != null)
                    {
                        @if (this.Garantia.ImagesForGaratia != null)
                        {
                            <div class="col-md-12">
                                <InputImages2 @key="1" OnImageSet="SetImages" ListaImagenes="this.Garantia.ImagesForGaratia" ImageQty="4" Text="Seleccione las imagenes para el cliente"></InputImages2>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-12">
                                <InputImages2 @key="1" OnImageSet="SetImages" ImageQty="4" Text="Seleccione las imagenes para el cliente"></InputImages2>
                            </div>
                        }
                    }
                </MudItem>
            </MudGrid>
                        

        </MudCardContent>
    </MudCard>
</EditForm>
<div class="row">
    <div class="col-md-12">
        <div class="card card-link">
            <div class="card-header d-flex justify-content-between align-items-center">
                @if (idgarantia <= 0)
                {
                    <h3 class="">Crear Garantia</h3>
                    <button type="submit" class="btn btn-primary " style="float:right; display:inline-block;" @onclick="SaveGarantia">Guardar</button>
                }
                else
                {
                    <h3 class="">Editando Garantia</h3>
                    <button type="submit" class="btn btn-primary " style="float:right; display:inline-block;" @onclick="SaveGarantia">Guardar</button>
                    @*<h3 class="card-title">Editar Garantia  <button type="submit" class="btn btn-primary" @onclick="() => SaveGarantia()">Guardar</button></h3>*@
                }

            </div>
            <div class="card-body">



            </div>
        </div>
    </div>
</div>
