@page "/garantias/CreateOrEdit/"
@page "/garantias/CreateOrEdit/{idgarantia:int}"
@inherits BaseForCreateOrEdit
@*<h1>Garantias CreateOrEdit <button type="submit" class="btn btn-primary" @onclick="() => SaveGarantia()">Guardar</button></h1>*@


<!--<button class="btn btn-primary" @onclick="GetGarantias">Get By Param</button>-->
@*<button class="btn btn-primary" @onclick="GetAll">Get All</button>*@
<!--<button class="btn btn-primary" @onclick="Clear">Limpiar lista</button>-->
<EditForm autocomplete="off" Model="@Garantia" OnInvalidSubmit="RaiseInvalidSubmit">
    <MudCard>
        <MudCardContent>

            <DataAnnotationsValidator />
            <ValidationSummary />
            <MudText Typo="Typo.h6">Clasificacion de Garantia</MudText>
            <MudDivider />
            @if (idgarantia <= 0)
            {
                <MudGrid>
                    <MudItem md="6" lg="6">
                        <MudRadioGroup @bind-SelectedOption="SelectedIdClasificacionGarantia">
                            <MudRadio Option="@((int)TiposClasificacionGarantia.Inmobiliaria)" Color="MudBlazor.Color.Primary">Inmobiliario</MudRadio>
                            <MudRadio Option="@((int)TiposClasificacionGarantia.Mobiliaria)" Color="MudBlazor.Color.Secondary">Mobiliaria</MudRadio>
                        </MudRadioGroup>
                    </MudItem>
                </MudGrid>
            }
            else
            {
                if (Garantia.IdClasificacion == 1)
                {
                    <MudText Typo="Typo.h4">Tipo: Mobiliario</MudText>
                    
                }
                else
                {
                    <MudText Typo="Typo.h4">Tipo: InMobiliario</MudText>
                    
                }
            }
            <MudGrid>
                <MudItem md="6" lg="6">
                    <MudTextField @bind-Value="Garantia.NoIdentificacion" Required="true" Label="No. Identificacion"></MudTextField>
                </MudItem>
                @if (idgarantia <= 0)
                {
                    <MudItem md="6" lg="6">
                        <MudSelect @bind-Value="Garantia.IdTipoGarantia" Label="Tipo De Garantia">
                            <MudSelectItem Value="-1" Disabled="true">Seleccione Un Tipo De Garantia</MudSelectItem>
                            @foreach (var item in tipogarantia)
                                {
                                <MudSelectItem Value="@item.IdTipoGarantia">@item.Nombre</MudSelectItem>
                                }
                        </MudSelect>
                    </MudItem>
                }
                else
                {
                    <MudItem md="6" lg="6">
                        <MudSelect @bind-Value="Garantia.IdTipoGarantia" Label="Tipo De Garantia" Disabled="true">
                            <MudSelectItem Value="-1" Disabled="true">Seleccione Un Tipo De Garantia</MudSelectItem>
                            @foreach (var item in tipogarantia)
                                {
                                <MudSelectItem Value="@item.IdTipoGarantia">@item.Nombre</MudSelectItem>
                                }
                        </MudSelect>
                    </MudItem>
                }
            </MudGrid>
            @{
                string strIsShow = "";
                strIsShow = IsShowInmobiliario == true ? "Block" : "None";
            }
            <MudGrid Style='@($"display:{strIsShow};")'>
                <MudItem md="6" lg="6">
                    <MudGrid>
                        <MudItem md="12" lg="12">
                            <BuscarLocalidades OnLocalidadSelected="Handle_LocalidadSelected"></BuscarLocalidades>
                            <MudChip Color="MudBlazor.Color.Info"> @SelectedLocalidad</MudChip>
                        </MudItem>
                        <MudItem md="12" lg="12">
                            <MudTextField @bind-Value="@detalleGarantia.DetallesDireccion" Label="Detalle Direccion"></MudTextField>
                        </MudItem>
                        <MudItem md="12" lg="12">
                            <MudTextField @bind-Value="@detalleGarantia.Medida" Label="Medida"></MudTextField>
                        </MudItem>
                     

                    </MudGrid>

                </MudItem>
            </MudGrid>
            @{
                string strShowMobiliario = "";
                strShowMobiliario = IsShowMobiliario == true ? "Block" : "None";
            }
            <MudGrid Style='@($"display:{strShowMobiliario};")'>
                <MudItem md="12">
                    <MudGrid>
                        <MudItem md="6" lg="6">
                            <MudItem md="12" lg="12">
                                <MudSelect @bind-Value="@Garantia.IdMarca" Label="Marca">
                                    <MudSelectItem Value="-1" Disabled="true">Selecciona una Marca</MudSelectItem>

                                    @foreach (var item in marcas)
                                    {
                                        <MudSelectItem Value="@(Convert.ToInt32(item.IdMarca))">@item.Nombre</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem md="12" lg="12">
                                <MudSelect @bind-Value="@Garantia.IdModelo" Label="Modelo">
                                    <MudSelectItem Value="-1" Disabled="true">Selecciona un Modelo</MudSelectItem>

                                    @foreach (var item in modelos)
                                    {
                                        <MudSelectItem Value="@item.IdModelo">@item.Nombre</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem md="12" lg="12">
                                <MudSelect @bind-Value="@detalleGarantia.Color" Label="Color">
                                    <MudSelectItem Value="@("")" Disabled="true">Selecciona un Color</MudSelectItem>
                                    @foreach (var item in colores)
                                    {
                                        <MudSelectItem Value="@item.Nombre">@item.Nombre</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem md="12" lg="12">
                                <MudTextField @bind-Value="detalleGarantia.NoMaquina" Label="No. Maquina"></MudTextField>
                                <MudTextField @bind-Value="detalleGarantia.Matricula" Label="Matricula"></MudTextField>
                                <MudTextField @bind-Value="detalleGarantia.Ano" Label="Año"></MudTextField>
                                <MudTextField @bind-Value="detalleGarantia.Placa" Label="Placa"></MudTextField>
                            </MudItem>
                        </MudItem>
                    </MudGrid>
                </MudItem>
            </MudGrid>
    <MudGrid>
        <MudItem md="6" lg="6">
            <MudNumericField @bind-Value="detalleGarantia.Valor" Label="Valor"></MudNumericField>
            <MudTextField @bind-Value="detalleGarantia.Descripcion" Label="Descripcion"></MudTextField>
            <MudCheckBox Checked="detalleGarantia.UsoExclusivo" Label="¿Puedo usar esta garantia en mas de 1 transaccion?"></MudCheckBox>
        </MudItem>
    </MudGrid>

            <MudGrid>
                <MudItem md="6" lg="6">
                    @if (this.Garantia != null)
                    {
                        @if (this.Garantia.ImagesForGaratia != null)
                        {
                            <MudItem md="12">
                                <InputImages @key="1" OnImageSet="SetImages" ListaImagenesURL="this.Garantia.ImagesForGaratia" ImageQty="4" Text="Seleccione las imagenes para el cliente"></InputImages>
                            </MudItem>@*
                            <div class="col-md-12">
                                <InputImages @key="1" OnImageSet="SetImages" ListaImagenesURL="this.Garantia.ImagesForGaratia" ImageQty="4" Text="Seleccione las imagenes para el cliente"></InputImages>
                            </div>*@
                        }
                        else
                        {
                            <MudItem md="12">
                                <InputImages @key="1" OnImageSet="SetImages" ImageQty="4" Text="Seleccione las imagenes para las Garantias"></InputImages>
                            </MudItem>@*
                            <div class="col-md-12">
                                <InputImages @key="1" OnImageSet="SetImages" ImageQty="4" Text="Seleccione las imagenes para las Garantias"></InputImages>
                            </div>*@
                        }
                    }
                </MudItem>
            </MudGrid>
        </MudCardContent>
        <MudCardContent>
            <MudCardActions>
                <MudButton OnClick="SaveGarantia" Color="MudBlazor.Color.Primary">Guardar</MudButton>
            </MudCardActions>
        </MudCardContent>
    </MudCard>
</EditForm>
