@page "/garantias"
@inherits BaseForCreateOrEdit
@*<h1>Garantias  <button class="btn btn-primary" @onclick="()=>CreateOrEdit()">Agregar</button></h1>*@

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText>Garantias</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudLink Href="garantias/createoredit"></MudLink>
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        @if (loading)
        {
            <div class="loader">Cargando datos, espere...</div>
        }
        <div class="row">
            <div class="col-md-12">
                <table class="table table-responsive-md table-hover">
                    <thead>
                        <tr>
                            <th>Numeracion</th>
                            <th>Tipo</th>
                            <th>Descripcion</th>
                            <th>Operacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (garantias.Count() > 0)
                        {
                            @foreach (var item in garantias)
                            {
                                <tr>
                                    <td>@item.NoIdentificacion</td>
                                    @if (item.DetallesJSON != null)
                                    {
                                        @if (item.IdTipoGarantia == 1)
                                        {
                                            <td>@TiposClasificacionGarantia.Inmobiliaria</td>
                                        }
                                        @if (item.IdTipoGarantia == 2)
                                        {
                                            <td>@TiposClasificacionGarantia.Mobiliaria</td>
                                        }

                                        <td>@item.DetallesJSON.Descripcion</td>

                                    }

                                    <td>
                                        <a href="@($"garantias/createoredit/{item.IdGarantia}")" title="editar" class="btn btn-outline-primary">
                                            <i class="oi oi-pencil"></i>
                                        </a>
                                        <div class="dropdown show" style="display:inline-block;">
                                            <a class="btn btn-secondary " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-th"></i>
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <button class="dropdown-item" @onclick="()=>PrintFicha(item.IdGarantia,1)">
                                                    <i class="fa fa-file-pdf-o"></i> PDF
                                                </button>
                                                <button class="dropdown-item" @onclick="()=>PrintFicha(item.IdGarantia,2)">
                                                    <i class="fa fa-file-excel-o"></i> EXCEL
                                                </button>

                                            </div>
                                        </div>
                                    </td>

                                    @*<td> <button @onclick="()=>CreateOrEdit(item.IdGarantia)" class="btn btn-info"> Editar </button></td>*@
                                </tr>

                            }
                        }
                        else
                        {
                            <p> no existen datos</p>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </MudCardContent>
</MudCard>
  

