@model  InfoLaboral

<div class="clearfix"></div>
<div class="row">
    <!-- form input mask -->
    <div class="col-md-6 col-sm-12  ">
        <div class="x_panel">
            <div class="x_content">
                <br />
                @*<form class="form-horizontal form-label-left">*@
                <div class="@HtmlClass.FormGroupCls">
                    @Html.LabelFor(model => model.Nombre,htmlAttributes: new { @class = @HtmlClass.LabelCls })
                    <div class="@HtmlClass.DivInputCls">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        <span class="@HtmlClass.SpanWorkInfoCls" aria-hidden="true"></</span>
                    </div>
                </div>

                <div class="@HtmlClass.FormGroupCls">
                    @Html.LabelFor(model => model.Puesto, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                    <div class="@HtmlClass.DivInputCls">
                        @Html.EditorFor(model => model.Puesto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Puesto, "", new { @class = "text-danger" })
                        <span class="@HtmlClass.SpanfauserCls" aria-hidden="true"></</span>
                    </div>
                </div>

                <div class="@HtmlClass.FormGroupCls">
                    @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                    <div class="@HtmlClass.DivInputCls">
                        @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control datetype", type = "text" } })
                        @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="@HtmlClass.FormGroupCls">
                    @Html.LabelFor(model => model.NoTelefono1, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                    <div class="@HtmlClass.DivInputCls">
                        @Html.EditorFor(model => model.NoTelefono1, new { htmlAttributes = new { @class = "form-control",data_inputmask = "'mask' : '(999) 999-9999'", @type = "tel" } })
                        @Html.ValidationMessageFor(model => model.NoTelefono1, "", new { @class = "text-danger" })
                        <span class="@HtmlClass.SpanfaphoneCls" aria-hidden="true"></</span>
                    </div>
                </div>

                <div class="@HtmlClass.FormGroupCls">
                    @Html.LabelFor(model => model.NoTelefono2, htmlAttributes: new { @class = @HtmlClass.LabelCls})
                    <div class="@HtmlClass.DivInputCls">
                        @Html.EditorFor(model => model.NoTelefono2, new { htmlAttributes = new { @class = "form-control", data_inputmask = "'mask' : '(999) 999-9999'"  } })
                        @Html.ValidationMessageFor(model => model.NoTelefono2, "", new { @class = "text-danger" })
                        <span class="@HtmlClass.SpanfaphoneCls" aria-hidden="true"></</span>
                    </div>
                </div>

                <div class="@HtmlClass.FormGroupCls">
                    @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = @HtmlClass.LabelCls })
                    <div class="@HtmlClass.DivInputCls">
                        @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                        <span class="@HtmlClass.SpanAddressDetailCls" aria-hidden="true"></</span>
                    </div>
                </div>

                <div class="@HtmlClass.FormGroupCls">
                    @Html.LabelFor(model => model.Notas, htmlAttributes: new { @class = @HtmlClass.LabelCls})
                    <div class="@HtmlClass.DivInputCls">
                        <textarea id="InfoLaboral_Notas" name="InfoLaboral.Notas" class="@HtmlClass.TextAreaResizableCls"></textarea>
                        @Html.ValidationMessageFor(model => model.Notas, "", new { @class = "text-danger" })
                        <span class="@HtmlClass.SpanDetailsCls" aria-hidden="true"></</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
