@model ClienteModel

@{
    ViewBag.Title = "Crear Editar Clientes";
    //Layout = "~/Views/Shared/_LayoutForms.cshtml";
    /// attention : para que deshabilitar el autocomplete es necesario poner esta instruccion en el tag for y en el tag input em chrome autocomplete="dummy-no-auto-complete-fix" -->
}



@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCreateCliente", autocomplete = "dummy-no-auto-complete-fix" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="row  col-md-10">
            @*<button type="button" data-toggle="modal" data-target=".modal-tasa-interes" class="btn btn-primary" id="btnFormTasaInteres" onclick="showTasaInteresForm()" >Agregar <i class="fa fa-plus"></i></button>*@

            @*<input id="btnNextTabPane" type="button" value="proximo panel" class="btn btn-outline-info" />*@
            @*@Html.ActionLink("Listado Clientes", "Search", null, new { @class = "btn btn-outline-info" })*@
            <span id="mensajeError" class="text-danger">@Model.MensajeError </span>
        </div>
        @*navigation*@

        @Html.ValidationSummary(true, "", new { @class = "text-danger", @id = "mensajeError" })
        <div class="">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Formulario de cliente</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="datosPersonales-tab" data-toggle="tab" href="#datosPersonales" role="tab" aria-controls="datosPersonales" aria-selected="true">Datos Personales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="direccion-tab" data-toggle="tab" href="#direccion" role="tab" aria-controls="direccion" aria-selected="false">Direccion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="datosLaborales-tab" data-toggle="tab" href="#datosLaborales" role="tab" aria-controls="datosLaborales" aria-selected="false">Datos Laborales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="datosConyuge-tab" data-toggle="tab" href="#datosConyuge" role="tab" aria-controls="datosConyuge" aria-selected="false">Datos del Conyuge</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="datosPersonales" role="tabpanel" aria-labelledby="datosPersonales-tab">

                                @Html.Partial("_infoGenerales", Model)
                            </div>
                            <div class="tab-pane fade" id="direccion" role="tabpanel" aria-labelledby="direccion-tab">
                                @Html.Partial("_infoDireccion", Model)
                            </div>
                            <div class="tab-pane fade" id="datosLaborales" role="tabpanel" aria-labelledby="datosLaborales-tab">
                                @*@Html.Partial("_infoLaboral", Model)*@
                                @Html.Partial("_infoLaboral", Model)
                            </div>
                            <div class="tab-pane fade" id="datosConyuge" role="tabpanel" aria-labelledby="datosConyuge-tab">
                                @Html.Partial("_infoConyuge", Model)
                            </div>
                        </div>
                        <input id="btnSubmit" type="button" value="Guardar" class="btn btn-primary" style="float:right;" />

                    </div>
                </div>
            </div>

            @*<div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-generales" role="tabpanel" aria-labelledby="nav-generales-tab">
                        @Html.Partial("_infoGenerales", Model)
                    </div>
                    <div class="tab-pane fade show" id="nav-direccion" role="tabpanel" aria-labelledby="nav-direccion-tab">
                        @Html.Partial("_infoDireccion", Model)
                    </div>
                     TODO: faltan campos como comentarios, etc.
                    <div class="tab-pane fade show" id="nav-trabajo" role="tabpanel" aria-labelledby="nav-trabajo-tab">
                        @Html.Partial("_infoLaboral", Model)
                    </div>
                    <div class="tab-pane fade show " id="nav-conyuge" role="tabpanel" aria-labelledby="nav-conyuge-tab">
                        @Html.Partial("_infoConyuge", Model)
                    </div>
                </div>*@
        </div>
    </div>
}

@section scripts
{
    <script src="~/Scripts/apps/showImage.js"></script>
    <script src="~/Scripts/apps/tabPanelsManagement.js"></script>
    <script src="~/Scripts/apps/datePickerInit.js"></script>
    <script src="~/Scripts/Apps/setMask.js"></script>

    <script>
        
        let searchLocalidadElem = $('#searchLocalidad');
        let formulario = $("#frmCreateCliente");
        let dateFormat = 'en-GB';
        let _dateFormat = 'dd/mm/yy';
        let yearRangeForDP = "-120:+0"
        
        // convert model into a json object
        // todo how to convert model into json object inside rezor
        //let model = Html.Raw(Json.Encode(Model));
        // esta funcion esta aqui porque el archivo externo js no reconoce o entiende el las variables del modelo
        function setFecha(elem, name) {
            d = new Date();
            if (name == "Cliente.FechaNacimiento") {
                d.setFullYear(@Model.Cliente.FechaNacimiento.Year, @Model.Cliente.FechaNacimiento.Month-1, @Model.Cliente.FechaNacimiento.Day );
            }
            if (name == "Cliente_xmlInfoLaboral_FechaInicio") {
                d.setFullYear(@Model.InfoLaboral.FechaInicio.Year, @Model.InfoLaboral.FechaInicio.Month-1, @Model.InfoLaboral.FechaInicio.Day );
            }
            let n = d.toLocaleDateString(dateFormat);
            elem.val(n);
        }
        $(document).ready(function () {
            ResizeContentContainer();
        });

        window.onresize = ResizeContentContainer;
        function ResizeContentContainer() {
            var windowHeight = $(window).height();
            $(".body-content").outerHeight(windowHeight + "px");
        }
        function turnOnOffValidations(elem) { }

    </script>
    <script src="~/Scripts/Apps/validate-form-Inputs.js"></script>
    <script src="~/Scripts/Apps/manageErrorMessageOnForms.js"></script>
    <script src="~/Scripts/Apps/searchLocalidad.js"></script>
}

