@*@model IEnumerable<PrestamoEntidades.TasaInteres>*@
@model TasaInteresVM
<link href="~/Content/customcss/switch.css" rel="stylesheet">

<style>
</style>

<div class="row">

    <div id="listContainer" class="col-md-12 col-sm-12 col-xs-12">

        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" style="float:right;">Agregar modal</button>*@
        <button type="button" data-toggle="modal" data-target=".modal-tasa-interes" class="btn btn-primary" id="btnFormTasaInteres" onclick="showTasaInteresForm()" style="float:right;">Agregar <i class="fa fa-plus"></i></button>
        
        <div class="x_panel">
            <div class="x_title">
                <h2>Tabla de intereses</h2>
                <ul class="nav navbar-right panel_toolbox">
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table bulk_action ">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>% de interes</th>
                            <th>Descripcion</th>
                            <th>Estado</th>
                            <th>¿Autorizacion?</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.ListaTasaInteres)
                        {
                            <tr class="@(!item.Activo ? "table-active" : "" )">
                                <td>
                                    <strong>
                                        @item.Codigo
                                    </strong>
                                </td>
                                <td>
                                    <span>@item.InteresMensual%</span>
                                </td>
                                <td>
                                    <span>@item.Nombre</span>
                                </td>
                                <td>
                                    @if (item.Activo)
                                    {
                                        <span class="badge badge-success">Activo</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">Desactivado</span>
                                    }
                                </td>
                                <td>
                                    @if (item.RequiereAutorizacion)
                                    {
                                        <span class="badge badge-primary">Si</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">No</span>
                                    }
                                </td>

                                <td>
                                    <a href="@Url.Action("Delete", "TasaInteres", new { Id = item.idTasaInteres, Usuario = "Bryan" })">
                                        <button type="button" class="btn btn-outline-danger">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </a>
                                    <a href="#">
                                        <button type="button" class="btn btn-outline-warning">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*Modal de agregar intereses*@
<div class="modal fade modal-tasa-interes" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@
                <h4 class="modal-title" id="myModalLabel2">Agrega un interes a la lista</h4>
            </div>
            <div class="modal-body">

                <div class="x_panel">
                    <div class="x_title">

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        @using (Html.BeginForm("Index", "TasaInteres", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                        {
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="codigo">
                                    Codigo <span class="required">*</span>
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(Model => Model.TasaInteres.Codigo, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="interes">
                                    % de Interes <span class="required">*</span>
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(Model => Model.TasaInteres.InteresMensual, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="descripcion">
                                    Descripcion <span class="required">*</span>
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(Model => Model.TasaInteres.Nombre, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-4">Autorizacion</div>
                                <div class="col-sm-8">
                                    <span class="slider"></span>

                                    @* @Html.CheckBoxFor(Model => Model.TasaInteres.RequiereAutorizacion)*@

                                    <input data-val="true"
                                           class="checkbox"
                                           data-val-required="The isNewlyEnrolled field is required."
                                           id="TasaInteres_RequiereAutorizacion"
                                           name="TasaInteres.RequiereAutorizacion"
                                           type="checkbox"
                                           value="true" />
                                    @*<input name="TasaInteres.RequiereAutorizacion" type="hidden" value="false" />*@
                                    <label for="TasaInteres_RequiereAutorizacion" class="switch" id="switch"></label>
                                    @* @Html.Raw(item.Activo ? "checked" : "")*@


                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="item form-group" style="float: right;">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                            @*</form>*@
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
