@model TasaInteresVM

@section pagestyle
{
    <link href="~/Content/customcss/switch.css" rel="stylesheet">
    <link href="~/Content/customcss/datatable/css/customStyle.css" rel="stylesheet">
    <style>
        #period span {
            font-size: 1em;
        }
    </style>
}

<div class="row">

    <div id="listContainer" class="col-md-12 col-sm-12 col-xs-12">

        @*<button type="button" data-toggle="modal" data-target=".modal-tasa-interes" class="btn btn-primary" id="btnFormTasaInteres"  style="float:right;">Agregar <i class="fa fa-plus"></i></button>*@

        <h4>Tabla de intereses</h4>
        <div class="x_panel">            
            <div class="x_content">
                <table id="datatable" class="table-bordered row-border">
                    <thead>
                        <tr>
                            <th class="checkColumn"></th>
                            <th>Codigo</th>
                            <th>% de interes</th>
                            <th>Descripcion</th>
                            <th>Estado</th>
                            <th>¿Autorizacion?</th>
                            @*<th>Acciones</th>*@
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.ListaTasaInteres)
                        {
                            <tr class="@(!item.Activo ? "table-active" : "" )"
                                data-id="@item.idTasaInteres">
                                <td>
                                </td>
                                <td>
                                    <strong>
                                        @item.Codigo
                                    </strong>
                                </td>
                                <td>
                                    <span>@item.InteresMensual%</span>
                                </td>
                                <td>
                                    <span>@item.Nombre</span>
                                </td>
                                <td>
                                    @if (item.Activo)
                                    {
                                        <span class="badge badge-success">Activo</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">Desactivado</span>
                                    }
                                </td>
                                <td>
                                    @if (item.RequiereAutorizacion)
                                    {
                                        <span class="badge badge-primary">Si</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">No</span>
                                    }
                                </td>

                                @*<td>

                                        <a href="@Url.Action("Delete", "TasaInteres", new { Id = item.idTasaInteres, Usuario = "Bryan" })">
                                            <button type="button" class="btn btn-outline-danger">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </a>

                                        <a href="#">
                                            <button type="button" class="btn btn-outline-warning">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>

                                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@*Modal de agregar intereses*@
<div class="modal fade modal-tasa-interes" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@
                <h4 class="modal-title" id="myModalLabel2">Agrega un interes a la lista</h4>
            </div>
            <div class="modal-body">

                <div class="x_panel">
                    <div class="x_title">

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        @using (Html.BeginForm("Index", "TasaInteres", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                        {
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="codigo">
                                    Codigo <span class="required">*</span>
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(Model => Model.TasaInteres.Codigo, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="interes">
                                    % de Interes <span class="required">*</span>
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(Model => Model.TasaInteres.InteresMensual, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="descripcion">
                                    Descripcion <span class="required">*</span>
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(Model => Model.TasaInteres.Nombre, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-4">Autorizacion</div>
                                <div class="col-sm-8">
                                    <span class="slider"></span>

                                    @* @Html.CheckBoxFor(Model => Model.TasaInteres.RequiereAutorizacion)*@

                                    <input data-val="true"
                                           class="checkbox"
                                           data-val-required="The isNewlyEnrolled field is required."
                                           id="TasaInteres_RequiereAutorizacion"
                                           name="TasaInteres.RequiereAutorizacion"
                                           type="checkbox"
                                           value="true" />
                                    @*<input name="TasaInteres.RequiereAutorizacion" type="hidden" value="false" />*@
                                    <label for="TasaInteres_RequiereAutorizacion" class="switch" id="switch"></label>
                                    @* @Html.Raw(item.Activo ? "checked" : "")*@


                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="item form-group" style="float: right;">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                            @*</form>*@
                        }
                    </div>
                </div>

                @*  *@
                @*  *@
                <div>
                    <h5>% por periodos</h5>
                    <ul id="period" class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            DIARIO
                            <span id="porcentaje-diario" class="badge badge-primary badge-pill"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            SEMANAL
                            <span id="porcentaje-semanal" class="badge badge-primary badge-pill"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            QUINCENAL
                            <span id="porcentaje-quincenal" class="badge badge-primary badge-pill"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            ANUAL
                            <span id="porcentaje-anual" class="badge badge-primary badge-pill"></span>
                        </li>
                    </ul>
                </div>


            </div>
        </div>

    </div>
</div>

<script>

    function showMessage(typeOfNotification, titleMessage, messageOfNotification) {
        var notification = new PNotify({
            title: titleMessage,
            text: messageOfNotification,
            type: typeOfNotification,
            styling: 'bootstrap3',
        });
    }

    let onEditButton = function () {
        if (!@Permission.Has("tasainteres-edit").ToString().ToLower() )
        {
            showMessage('warning', 'Sin permiso', 'No tienes permiso para editar.');
            return;
        }

        // Codigo a ejecutar
    }
    let onDeactivateButton = function () {
        if (!@Permission.Has("tasainteres-deactivate").ToString().ToLower() )
        {
            showMessage('warning', 'Sin permiso', 'No tienes permiso para desactivar.');
            return;
        }
    }
    let onCancelButton = async function () {
        if (!@Permission.Has("tasainteres-cancel").ToString().ToLower() )
        {
            showMessage('warning', 'Sin permiso', 'No tienes permiso para borrar.');
            return;
        }
        let id = $('tr.selected').data("id");

        let data = { id: id };

        await $.ajax({
            type: "get",
            url: "/TasaInteres/Delete",
            data: data,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
            },
            complete: function (jqXHR, status) {
            }
        });
        location.reload();
    }
    let onNewButton = function () {
        if (!@Permission.Has("tasainteres-create").ToString().ToLower() )
        {
            showMessage('warning', 'Sin permiso', 'No tienes permiso para agregar.');
            return;
        }

        $('.modal-tasa-interes').modal('show');
        //if ($('tr.selected').data("id") !== undefined) {
        //}
    }

    $(document).ready(function () {

        let BASE_MENSUAL = 30;
        let LONG_DIARIO = 1;
        let LONG_SEMANAL = 7;
        let LONG_QUINCENAL = 15;
        let LONG_ANUAL = 360;

        $('#TasaInteres_InteresMensual').keyup(function () {
            calcularPorcentajes();
        });

        function calcularPorcentajes() {
            let tasaMensual = $('#TasaInteres_InteresMensual').val();

            $('#porcentaje-diario').text(`${((tasaMensual / BASE_MENSUAL) * LONG_DIARIO).toFixed(2)}%`);
            $('#porcentaje-semanal').text(`${((tasaMensual / BASE_MENSUAL) * LONG_SEMANAL).toFixed(2)}%`);
            $('#porcentaje-quincenal').text(`${((tasaMensual / BASE_MENSUAL) * LONG_QUINCENAL).toFixed(2)}%`);
            $('#porcentaje-anual').text(`${((tasaMensual / BASE_MENSUAL) * LONG_ANUAL).toFixed(2)}%`);
        }

        // Datatable
        var table = $('#datatable').DataTable(dataTableConfiguration);

        removeTemplateConfiguration();
        $('#btn-edit').appendTo('#r2s1');
        $('#btn-deactivate').appendTo('#r2s1');
        $('#btn-cancel').appendTo('#r2s1');
        $('#btn-save').appendTo('#r2s3');



    });

</script>

