@*@model IEnumerable<PrestamoEntidades.TasaInteres>*@
@model TasaInteresVM
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">

<style>
    .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      transition: all 0.3s;
    }
    .switch::after {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius:50%;
      background-color: white;
      top: 1px;
      left: 1px;
      transition: all 0.3s;
    }
    .checkbox:checked + .switch::after {
      left : 20px;
    }
    .checkbox:checked + .switch {
      background-color: #76d275;
    }
    .checkbox {
      display : none;
    }
</style>

    <div class="row">

        <div id="listContainer" class="col-md-12 col-sm-12 col-xs-12">

            

            @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" style="float:right;">Agregar modal</button>*@
            <button type="button" data-toggle="modal" data-target=".modal-tasa-interes" class="btn btn-primary" id="btnFormTasaInteres" onclick="showTasaInteresForm()" style="float:right;">Agregar <i class="fa fa-plus"></i></button>
            <h4>Listado de intereses</h4>
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tabla de intereses</h2>
                    <ul class="nav navbar-right panel_toolbox">
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table bulk_action ">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>% de interes</th>
                                <th>Descripcion</th>
                                <th>Estado</th>
                                <th>¿Autorizacion?</th>
                                <th>prueba</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.ListaTasaInteres)
                            {
                            <tr class="@(!item.Activo ? "table-active" : "" )">
                                <td>
                                    <strong>
                                        @item.Codigo
                                    </strong>
                                </td>
                                <td>
                                    <span>@item.InteresMensual%</span>
                                </td>
                                <td>
                                    <span>@item.Nombre</span>
                                </td>
                                <td>
                                    @if (item.Activo)
                                    {
                                        <span class="badge badge-success">Activo</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">Desactivado</span>
                                    }
                                </td>
                                <td>
                                    @if (item.RequiereAutorizacion)
                                    {
                                        <span class="badge badge-primary">Si</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">No</span>
                                    }
                                </td>
                                <td>

                                <input data-val="true"
                                        class="checkbox"
                                        data-val-required="The isNewlyEnrolled field is required."
                                        id="TasaInteres_RequiereAutorizacion"
                                        name="TasaInteres.RequiereAutorizacion"
                                        type="checkbox"
                                        @Html.Raw(item.Activo ? "checked" : "")
                                        value="true" />
                                @*<input name="TasaInteres.RequiereAutorizacion" type="hidden" value="false" />*@
                                <label for="TasaInteres_RequiereAutorizacion" class="switch" id="switch"></label>

                                </td>


                                <td>
                                    <a href="@Url.Action("Delete", "TasaInteres", new { Id = item.idTasaInteres, Usuario = "Bryan" })">
                                        <button type="button" class="btn btn-outline-danger">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </a>
                                    <a href="#">
                                        <button type="button" class="btn btn-outline-warning">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

@*Modal de agregar intereses*@
<div class="modal fade modal-tasa-interes" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@
                <h4 class="modal-title" id="myModalLabel2">Agrega un interes a la lista</h4>
            </div>
            <div class="modal-body">

                <div class="x_panel">
                    <div class="x_title">
                        @*<h2>Form Design <small>different form elements</small></h2>*@
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                            <li>
                                <a onclick="hideTasaInteresForm()"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        @using (Html.BeginForm("Index", "TasaInteres", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                        {
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="codigo">
                                    Codigo <span class="required">*</span>
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(Model => Model.TasaInteres.Codigo, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="interes">
                                    % de Interes <span class="required">*</span>
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(Model => Model.TasaInteres.InteresMensual, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="descripcion">
                                    Descripcion <span class="required">*</span>
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(Model => Model.TasaInteres.Nombre, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-4">Autorizacion</div>
                                <div class="col-sm-8">
                                    <div class="form-check">
                                        <span class="slider"></span>
                                        @*<input class="form-check-input" type="checkbox" id="gridCheck1">*@


                                        @* @Html.CheckBoxFor(Model => Model.TasaInteres.RequiereAutorizacion)*@

                                        <input data-val="true"
                                               data-val-required="The isNewlyEnrolled field is required."
                                               id="TasaInteres_RequiereAutorizacion"
                                               name="TasaInteres.RequiereAutorizacion"
                                               type="checkbox"
                                               checked
                                               value="true" />
                                        @*<input name="TasaInteres.RequiereAutorizacion" type="hidden" value="false" />*@
                                        <label for="TasaInteres_RequiereAutorizacion" id="switt">Toggle</label>


                                        @*<input type="checkbox" id="TasaInteres_RequiereAutorizacion" name="TasaInteres.RequiereAutorizacion" />*@


                                        @*<label id="label_switch" for="TasaInteres_RequiereAutorizacion"></label>*@
                                        @*<label class="form-check-label" id="label_switch" for="TasaInteres_RequiereAutorizacion">
            ¿Requiere autorizacion?
        </label>*@
                                    </div>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="item form-group" style="float: right;">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                            @*</form>*@
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="../vendors/iCheck/icheck.min.js" type="7970e1e113382da18ac5720e-text/javascript"></script>