<!-- User Info navbar -->
<ul class=" navbar-right">
    <li class="nav-item dropdown open" style="padding-left: 15px;">
        @{
            if (!AuthInSession.IsAnonimousUser)
            {
                <span class="user-profile"> @Html.Raw(@AuthInSession.IsAnonimousUser ? "Su Empresa" : AuthInSession.GetStringValueForKey(AuthInSession.NegocioMatrizNombre)), </span>
                <span class="user-profile"> @Html.Raw(@AuthInSession.IsAnonimousUser ? "Su Empresa" : AuthInSession.GetNegocioSelectedNombre()) </span>
                <img class="img-circle profile_thumb" src="@Url.Content(SiteImages.NegocioLogoConLetra)" height="35em" />
            }
        }
        <a href="javascript:;" class="@Html.Raw(AuthInSession.IsAnonimousUser ? "user-profile" : "user-profile dropdown-toggle")" aria-haspopup="true" id="navbarDropdown"
           data-toggle="dropdown" aria-expanded="true">
            <img src="@Url.Content(AuthInSession.GetUserImageFilePath())" alt="...">@AuthInSession.GetUsuarioNombreReal()
        </a>
        @{
            if (!AuthInSession.IsAnonimousUser)
            {
                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@Url.Action("LogOutUser", "Account")"><i class="fa fa-sign-out pull-right"></i> Cerrar sesion</a>
                </div>
            }
        }
    </li>
</ul>
<!-- User Info navbar -->