<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title | PCP Prestamos</title>

    <!-- Bootstrap -->
    <link href="~/content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <!-- bootstrap-daterangepicker -->
    <link href="~/content/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- bootstrap-datetimepicker -->
    <link href="~/content/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <link href="~/content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <link href="~/content/vendors/google-code-prettify/bincss/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="~/content/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="~/content/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="~/content/vendors/starrr/dist/starrr.css" rel="stylesheet">

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/content/build/css/custom.min.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("pagestyle", required: false)
</head>

<body class="nav-md">
    <div class="container body" id="bodyTo">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index", "Home")" class="site_title"><i class="fa fa-paw"></i> <span>PCP Prestamo</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="/content/production/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Bienvenido,</span>
                            <h2>Bryan Pourie</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    @Html.Partial("_Sidebar")
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="@Url.Action("Index", "Login")">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            @Html.Partial("_TopNavBar")
            @*para el formato anterior tenia esto*@
            @*@Html.Partial("_TopNavBar2")*@
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <!-- top tiles -->
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            @Html.Partial("_Footer")
            <!-- /footer content -->
        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@

    <!-- jQuery -->
    <script src="~/content/vendors/jquery/dist/jquery.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/content/vendors/moment/min/moment.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/content/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/content/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/content/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="~/content/vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/content/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="~/content/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/content/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/content/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jquery.inputmask -->
    <script src="~/content/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <!-- jQuery Tags Input -->
    <script2 src="~/content/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script2>
    <!-- Switchery -->
    <script2 src="~/content/vendors/switchery/dist/switchery.min.js"></script2>
    <!-- Select2 -->
    <script2 src="~/content/vendors/select2/dist/js/select2.full.min.js"></script2>
    <!-- Parsley -->
    <script src="~/content/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="~/content/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="~/content/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="~/content/vendors/starrr/dist/starrr.js"></script>
    <!-- jquery-ui -->
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <!-- jquery.inputmask -->
    <script2 src="~/content/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script2>
    <script src="~/content/build/js/custom.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        let dateFormat = 'en-GB';
        // convert model into a json object
        // todo how to convert model into json object inside rezor
        // let model = @Html.Raw(Json.Encode(Model));
        // esta funcion esta aqui porque el archivo externo js no reconoce o entiende el las variables del modelo
        function setFecha(elem, name) {
            d = new Date();
            if (name == "Cliente.FechaNacimiento") {
                d.setFullYear(@Model.Cliente.FechaNacimiento.Year, @Model.Cliente.FechaNacimiento.Month-1, @Model.Cliente.FechaNacimiento.Day );
            }
            if (name == "Cliente_xmlInfoLaboral_FechaInicio") {
                d.setFullYear(@Model.InfoLaboral.FechaInicio.Year, @Model.InfoLaboral.FechaInicio.Month-1, @Model.InfoLaboral.FechaInicio.Day );
            }
            let n = d.toLocaleDateString(dateFormat);
            elem.val(n);
        }
        $(document).ready(function () {
            ResizeContentContainer();
        });

        window.onresize = ResizeContentContainer;

        function ResizeContentContainer() {

            var windowHeight = $(window).height();
            $(".body-content").outerHeight(windowHeight + "px");
        } 
        
    </script>
    <script src="~/Scripts/apps/showImage.js"></script>
    <script src="~/Scripts/apps/tabPanelsManagement.js"></script>
    <script src="~/Scripts/apps/datePickerInit.js"></script>
    <script src="~/Scripts/Apps/validate-clientes-Inputs.js"></script>
    <script src="~/Scripts/Apps/setMask.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
