<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">

            

            <li>
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Inicio </a>
            </li>

            @*<li>
                <a href="@Url.Action("Index", "TasaInteres")"><i class="fa fa-percent"></i>Tasas de interes</a>
            </li>*@

            <li>
                <a><i class="fa fa-edit"></i>Actualizacion<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>
                        <a href="@Url.Action("Index", "TasaInteres")">Tasas de interes</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "TipoMoras")">Catalogo de moras</a>
                    </li>

                    <li>
                        <a>Direcciones<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a>Territoriales<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="@Url.Action("CreateDivisionTerritorial", "Territorio")">Crear division territorial</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Territorio")">Crear componentes</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a>Localidades<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="@Url.Action("CreatePaisDivisionTerritorial", "Localidades")">Crear Pais</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Localidades")">Crear localidades</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Editar", "Localidades")">Editar localidades</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Buscador", "Localidades")">Buscador</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Clientes<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="@Url.Action("Index","Clientes")">Listado de Clientes</a>
                            <li>
                            <li>
                                <a href="@Url.Action("CreateOrEdit","Clientes")">Crear Cliente Nuevo</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a>Usuarios<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="@Url.Action("Index","User")">Listado de Usuarios</a>
                            <li>
                            <li>
                                <a href="@Url.Action("CreateOrEdit","User")">Crear Usuario Nuevo (Simple)</a>
                            </li>
                            <li>
                                <a href="@Url.Action("CreateOrEdit","User",new {id=-1, showAdvancedView=true})">Crear Usuario Nuevo (Avanzado)</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Garantias<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="@Url.Action("CreateOrEdit","Garantias")">Crear garantia</a>
                            </li>
                            <li>
                                <a>Tipo<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="@Url.Action("CreateOrEdit","Tipo")">Crear Tipo</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Marcas<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="@Url.Action("CreateOrEdit","Marcas")">Crear marcas</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Modelos<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="@Url.Action("CreateOrEdit","Modelos")">Crear modelo</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Colores<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="@Url.Action("CreateOrEdit","Color")">Crear color</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    
</li>


    </div>

</div>
<!-- /sidebar menu -->
