<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <div class="menu_section">
        <h3>Menu</h3>
        <ul class="nav side-menu">
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Inicio </a>
            </li>

            @*<li>
            <a href="@Url.Action("Index", "TasaInteres")"><i class="fa fa-percent"></i>Tasas de interes</a>
        </li>*@

            <li>
                <a><i class="fa fa-edit"></i>Catalogos<span class="fa fa-chevron-down"></span></a>
                
                <ul class="nav child_menu">
                    @if (Permission.Has("tasainteres-ver"))
                    {
                        <li>
                            <a href="@Url.Action("Index", "TasaInteres")">Tasas de interes</a>
                        </li>
                    }
                        <li>
                            <a href="@Url.Action("Index", "TipoMoras")">Catalogo de moras</a>
                        </li>

                        <li>
                            <a>Direcciones<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li>
                                    <a>Territoriales<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="@Url.Action("CreateDivisionTerritorial", "Territorio")">Crear division territorial</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Territorio")">Crear componentes</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a>Localidades<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="@Url.Action("CreatePaisDivisionTerritorial", "Localidades")">Crear Pais</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Localidades")">Crear localidades</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Editar", "Localidades")">Editar localidades</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Buscador", "Localidades")">Buscador</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>Clientes<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li>
                                    <a href="@Url.Action("Index","Clientes")">Listado de Clientes</a>
                                <li>
                                <li>
                                    <a href="@Url.Action("CreateOrEdit","Clientes")">Crear Cliente Nuevo</a>
                                </li>

                        </ul>
                    </li>
                    <li>
                        <a>Garantias<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="@Url.Action("CreateOrEdit","Garantias")">Crear garantia</a>
                            </li>
                            <li>
                                <a>Tipo<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="@Url.Action("CreateOrEdit","Tipo")">Crear Tipo</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Marcas<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="@Url.Action("CreateOrEdit","Marcas")">Crear marcas</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Modelos<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="@Url.Action("CreateOrEdit","Modelos")">Crear modelo</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Colores<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="@Url.Action("CreateOrEdit","Color")">Crear color</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Ocupaciones<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="@Url.Action("CreateOrEdit","Catalogos", new { tabla= "tblOcupaciones" } )">Crear ocupacion</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Verificador de direcciones<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="@Url.Action("CreateOrEdit","Catalogos",  new { tabla= "tblVerificadorDirecciones" })">Crear verificador de direcciones</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Tipo telefono<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="@Url.Action("CreateOrEdit","Catalogos",  new { tabla= "tblTipoTelefonos" })">Crear tipo de telefono</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Tipo sexo<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="@Url.Action("CreateOrEdit","Catalogos",  new { tabla= "tblTipoSexos" })">Crear tipo sexo</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Tasadores<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="@Url.Action("CreateOrEdit","Catalogos",  new { tabla= "tblTasadores" })">Crear tasadores</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Localizadores-Cobradores<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="@Url.Action("CreateOrEdit","Catalogos",  new { tabla= "tblLocalizadores" })">Crear Localizador / cobrador</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Estado civil<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="@Url.Action("CreateOrEdit","Catalogos",  new { tabla= "tblEstadosCiviles" })">Crear estado civil</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Accesos de usuario<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="@Url.Action("Index","Acceso")">Accesos de usuario</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                <a>Configuraciones<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>
                        <a>Roles<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="@Url.Action("ListRoles","Roles")">Lista de roles</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create","Roles")">Crear role</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Edit","Roles")">Editar role</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Usuarios<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="@Url.Action("Index","User")">Listado de Usuarios</a>
                            <li>
                            <li>
                                <a href="@Url.Action("CreateOrEdit","User")">Crear Usuario Nuevo (Simple)</a>
                            </li>
                            <li>
                                <a href="@Url.Action("EditUserRoles","User")">Editar roles de usuario</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
    </div>

</div>
<!-- /sidebar menu -->
