<!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" >
       
        <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">

                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Inicio </a>
                </li>

                @*<li>
                    <a href="@Url.Action("Index", "TasaInteres")"><i class="fa fa-percent"></i>Tasas de interes</a>
                </li>*@

                <li>
                    <a><i class="fa fa-edit"></i>Actualizacion<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>
                            <a href="@Url.Action("Index", "TasaInteres")">Tasas de interes</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "TipoMoras")">Catalogo de moras</a>
                        </li>                        

                        <li>
                            <a><i class="fa fa-edit"></i>Direcciones<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li>
                                    <a href="@Url.Action("Index", "Territorio")">Divisiones territoriales</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Localidades")">Localidades</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>

    </div>
<!-- /sidebar menu -->

    <script>

    $(document).ready(function () {
        ResizeContentContainer();
    });

    window.onresize = ResizeContentContainer;

    function ResizeContentContainer() {

        var windowHeight = $(window).height();
        $(".body-content").outerHeight(windowHeight + "px");
    }
    </script>