@page "/prestamos"
@inherits BaseForList
@using PrestamoBlazorApp.Shared.Components.Forms

<GeneralList CardTitle="Lista de Prestamos" LinkAddButton="prestamos/createoredit/" cbSearchString="searchTableDataBase">
    <ActionsButtons>
   
    </ActionsButtons>
    <TableList>
        <MudTable Items="@prestamos" Dense="@Dense" Hover="@Hover" Bordered="@Bordered" Striped="@Striped"  @bind-SelectedItem="SelectedItem1">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Elementos</MudText>
                <MudTextField Immediate="true" @bind-Value="SearchStringTable" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                <MudDivider FlexItem="true" Vertical="true" DividerType="DividerType.Middle" Class="ml-1 mr-1 my-1"></MudDivider>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>No Prestamo</MudTh>
                <MudTh>Fecha</MudTh>
                <MudTh>Cliente</MudTh>
                <MudTh>Monto</MudTh>
                <MudTh>Acciones</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Codigo">@context.PrestamoNumero</MudTd>
                <MudTd DataLabel="Fecha">@context.FechaEmisionReal.ToString("dd/MM/yyyy")</MudTd>
                <MudTd DataLabel="Nombre">@context.IdCliente </MudTd>
                <MudTd DataLabel="Monto Prestado">@context.MontoPrestado</MudTd>

                <MudTd>
                    <MudIconButton OnClick='()=>OnEditClick("prestamos/createoredit/" + context.IdPrestamo.ToString())' Icon="@Icons.Outlined.Edit"></MudIconButton>
                    <MudMenu Icon="@Icons.Filled.Print">
                        @*<MudMenuItem OnClick="()=>PrintFicha(context.IdCliente,1)">PDF</MudMenuItem>*@
                        @*<MudMenuItem OnClick="()=>PrintFicha(context.IdCliente,1)">EXCEL</MudMenuItem>*@
                    </MudMenu>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </TableList>
</GeneralList>
@*<div class="grid-container">
    <div class="bg-secondary">
        <h3 class="text-left">Listado de Prestamos </h3>
    </div>
    <div class="search">
        <EditForm Model="@searchPrestamos" OnValidSubmit="@GetPrestamos">


            <button type="submit" class="fa fa-search">Buscar</button>
            @if (totalPrestamos > 0)
            {
                <label class="text-right col-sm-2">registros encontrados @totalPrestamos</label>
            }
        </EditForm>

    </div>
</div>

<div class="grid">
    <button @onclick="()=>DatosFicha()">PrintTest Ficha DetalleDrCr</button>
    @if (loading)
    {
        <div class="loader">Cargando...</div>
    }
    else
    {
        if (prestamos == null)
        {
            <p><em>datos no encontrados</em></p>
        }
        else
        {
            if (totalPrestamos > 0)
            {

                <table class="table table-responsive-md table-hover table-sm">
                    <thead>
                        <tr>
                            <th>No Prestamo</th>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Monto</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var prestamo in prestamos)
                        {
                            <tr>
                                <td>@prestamo.PrestamoNumero</td>
                                <td>@prestamo.FechaEmisionReal.ToString("dd/MM/yyyy")</td>
                                <td>@prestamo.IdCliente</td>
                                <td>@prestamo.MontoPrestado</td>
                                <td>
                                    <button onclick="alert('opcion no implementada aun')" title="ver detalles" class="btn btn-outline-primary">
                                        <i class="fa fa-info-circle"></i>
                                    </button>

                                    <button @onclick='()=>OnEditClick("prestamo/createoredit/"+prestamo.IdPrestamo)' class="btn btn-outline-primary">
                                        <i class="fa fa-edit"></i>
                                    </button>

                                    <button onclick="alert('opcion no implementada aun')" title="Anular o Eliminar" class="btn btn-outline-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p><em>No datos encontrados</em></p>
            }
        }
    }

</div>*@



